/* Start login page Css */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

body {
  background: #f5f6fc !important;
  font-family: "Rubik", sans-serif;
}
.acceptBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  background: #263682;
  color: #f5f6fc;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.36px;
  border: none;
  padding: 10px 20px;
}
.rejectBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  background-color: transparent;
  color: #263682;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.36px;
  padding: 10px 20px;
}
.greyBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  background: var(--Primary-P-50-Main, #f5f6fc);
  color: #263682;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.36px;
  padding: 10px 20px;
  border: none;
}
.continueAmountBtn {
  border-radius: 30px;
  background: #263682;
  color: #f5f6fc;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  border: none;
  padding: 18px 20px 18px 20px;
}
.otherAmountbtn {
  border-radius: 30px;
  color: #263682;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  border: none;
  text-align: start;
  padding: 18px 20px 18px 20px;
}
.leftImg {
  margin-right: 4px;
}
.mr-6{
  margin-right: 6px;
}
.ml-6{
  margin-left: 6px;
}
.bg-skygrey{
  background: #F5F6FC;
}
.bg-green-50{
  background: #ECFDF3;
}
.border-lightpurple{
  border-color: #D7DEFF;
}
.border-green{
  border-color: #12B76A;
}
.bookingRequest {
  border-radius: 16px;
  border: 1px solid #d7deff;
  padding: 12px;
  margin-top: 16px;
}
.textPaymentMode{
  font-size: 12px;
  font-weight: 500;
}
.textWhite{
  color: #fff;
}
.textNeavyBlue{
  color: #263682;
}
.paymentMode {
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  border: #263682;
  background: #12b76a;
}
.bookingsAmountView {
  align-items: center;
  display: flex;
}
.textBookingAmount {
  font-size: 14px;
  font-weight: 500;
}
.ml-16{
  margin-left: 16px;
}
.staffUserImage {
   width: 36px;
}
/*booking page css end*/
