@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Start Common Css */
/* Scrollbar-Css */
.scrollbar {
  background-color: #000;
  width: 6px;
  height: 10%;
}

.scrollbar-track {
  background-color: #d9d9d9;
  margin-left: 10px;
}

.scrollbar-thumb {
  background-color: #000;
  border-radius: 16px;
  border: 0px solid #d9d9d9;
}

::-webkit-scrollbar {
  background-color: #eaecf0;
  width: 10px;
  height: 10%;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #eaecf0;
  border-radius: 16px;
  border: 0px solid #d9d9d9;
}

::-moz-scrollbar {
  background-color: #000;
  width: 5px;
  height: 5%;
}

::-moz-scrollbar-track {
  background-color: #000;
}

::-moz-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 0px solid #fff;
}

/* End Scrollbar Css */

:root {
  --gray: #3c444d;
  --darkGray: #14171a;
  --lightGray: #626262;
  --blue: #275aff;
  --black: #000;
  --white: #fff;
  --backgroundFaded: #d9d9d933;
  --border: #cacaca;
  --labelColor: #a7a7a7;
  --lineColor: #d8d8d8;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--white);
  font-family: "Montserrat";
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

/*header css start*/
.headerSection {
  padding: 30px 10px 30px 16px;
  backdrop-filter: blur(10px);
}

.timeHeading {
  color: #636e9f;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  margin: 0 6px;
}

.timeNav {
  display: flex;
  align-items: center;
  position: relative;
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}

.timeNav::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background: #b4beeb;
  right: -15px;
}

.timeHeading span {
  font-weight: 500;
}

.navBtn {
  color: #636e9f;
  font-size: 15px;
  font-weight: 400;
  border-radius: 30px;
  background: #fff;
  padding: 12px;
  margin-left: 65px;
  border: none;
}

/*header css end*/
/* SwitchToggle.css */
.switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
  padding: 2px 4px;
}

.switch input {
  display: none;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b4beeb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.switch-slider {
  background-color: #4659b5;
}

input:checked+.switch-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.recieveHeading {
  text-align: center;
  color: #263682;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 16px;
}

.receiveAmountMain {
  border: 1px solid #5e6588;
  border-radius: 15px;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  margin-top: 60px;
}

.receiveAmount {
  border-radius: 6px;
  height: 200px;
  background-color: #f5f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.receiveAmountSelected {
  border: 1px solid #263682;
  border-radius: 6px;
  height: 200px;
  background-color: #f5f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  color: #263682;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
}

.PaidamountText {
  color: #263682;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.paidAmountMain {
  padding-top: 50px;
  margin-top: 100px;
  padding-bottom: 40px;
}

.addnotesBtn {
  border-radius: 6px;
  background: #f5f6fc;
  padding: 10px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: #263682;
}

.discountAmountBox {
  background-color: #f5f6fc;
  padding-bottom: 20px;
  display: flex;
}

.noteButton {
  display: flex;
  justify-content: center;
  gap: 36px;
}

.notesBox {
  border-radius: 40px;
  background: var(--surfaces-s-top, #fff);
  padding: 16px 17px;
  box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02),
    -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
  width: 100%;
  min-height: 280px;
  max-height: 200px;
  outline: none;
}

.selectedFlagDiscount {
  background: #ffffff;
  box-shadow: -2px 4px 26px 0px rgba(50, 80, 127, 0.02),
    -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
  padding: 18px 18px 18px 24px;
  color: #263682 !important;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  border: 3px solid #263682;
}

.amountInput {
  background-color: #ffffff;
  width: 100%;
}

/**Language Css Start**/

.languageRight {
  border-radius: 20px;
  background: #FFF;
  box-shadow: -2px 4px 25px 0px rgb(50 80 127 / 2%), -5px 10px 80px 0px rgb(50 80 127 / 4%);
  padding: 24px 30px;
}

.addlangueBtn_ {
  background: transparent;
  border: none !important;
  display: flex;
  align-items: center;
  color: #263682;
  font-size: 16px;
  font-weight: 500;
  outline: none !important;
}

.addlanguage_ {
  padding-left: 30px;
}

#addlanguageModal .modal-header {
  flex-direction: column;
  border-bottom: none;
}

.countryLanguage_ {
  border-radius: 16px;
  background: #fff;
  padding: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #D7DEFF;
  cursor: pointer;
  margin-bottom: 10px;
}

.smalblueText_ {
  font-size: 16px;
  font-weight: 500;
  color: #263682;
}

.activelang {
  border: 1px solid #4659B5;
  background: #F5F6FC;
}

.addlanguagebox_ {
  max-height: 380px;
  display: inline-block;
  width: 100%;
  overflow-y: auto;
}

#AddNotes .modal-body {
  padding: 0;
}

.addnotesMain .notesBox {
  border-radius: 16px;
  border: 1px solid #D7DEFF;
  box-shadow: -1.908px 3.783px 25.481px 0px rgb(50 80 127 / 2%), -4.954px 9.821px 80px 0px rgb(50 80 127 / 4%);
  background: #fdfdfe;
  font-size: 17px;
  font-weight: 500;
  color: #9e9e9e;
  resize: none;
}

.addnotesMain .notesBox::placeholder {
  color: #9BA8E3 !important;
}

#AddNotes .modal-header {
  padding: 0px 0px 15px 0;
}

#AddDiscount .modal-body {
  padding: 20px 0;
}

.discountMain {
  background-color: #f5f6fc;
  padding: 15px;
}

.discountMain .discountAmountBox {
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  border-radius: 8px;
  padding: 7px 7px;
  align-items: center;
}

.customdiscount_ {
  background: transparent;
  border: 1px solid #e0d9d9 !important;
  border-radius: 5px;
  padding: 10px 15px;
  max-width: 200px;
  width: 100%;
  outline: none !important;
}

.discountMain .customInputDiscount {
  box-shadow: none !important;
  padding: 0px 10px;
}

.discountInput_ {
  background-color: #fff;
  display: flex;
  border-radius: 8px;
  padding: 22px 16px;
  align-items: center;
}

.discountMain .selectedFlagDiscount {
  padding: 10px 18px 10px 24px;
  max-width: 200px;
  width: 100%;
  margin-right: 10px;
}

.analytics_box {
  background: transparent !important;
}

.analytics_box .chartsOuter {
  border-radius: 20px;
  background: #FFF;
  box-shadow: -1.908px 3.783px 25.481px 0px rgb(50 80 127 / 2%), -4.954px 9.821px 80px 0px rgb(50 80 127 / 4%);
  padding: 15px;
  height: 100%;
}

.topheadanalytics_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expectedHeading {
  color: #263682;
  font-size: 16px;
  font-weight: 500;
}

.rightcontainBox_ {
  display: flex;
  align-items: center;
}

.rightcontainBox_ .customer-calendar-cnt i {
  color: #8D99D2;
  font-size: 13px;
}

.analyticStatus_ {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 8px;
}

.deliveredStatus {
  border-radius: 20px;
  background: #F5EDFF;
  color: #7233C2;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 12px;
  line-height: normal;
}

.statusDot_ {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #B985FD;
  border-radius: 10px;
  margin-right: 5px;
}

.returnstatus {
  background: #FFF7D7 !important;
  color: #DC6803;
}

.returnstatus .statusDot_ {
  background: #FDB022 !important;
}

.cancelstatus {
  background: #FEF3F2;
  color: #D92D20;
}

.cancelstatus .statusDot_ {
  background: #F97066 !important;
}

.posorder_ {
  background: #F5F6FC;
  color: #263682;
}

.posorder_ .statusDot_ {
  background: #B6C2FF !important;
}

.onlineorder {
  background: #EFFBFF;
  color: #308CAD;
}

.onlineorder .statusDot_ {
  background: #58C2E8 !important;
}

.bgtransparent_ {
  background: transparent !important;
  min-height: auto !important;
  padding-bottom: 0 !important;
}

.commonbdcontain_ {
  display: inline-block;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  height: calc(100vh - 112px);
  overflow-y: scroll;
}

.commonbdcontain_::-webkit-scrollbar {
  display: none !important;
}

.analyticsSection {
  min-width: calc(100% - 107px) !important;
  margin-right: 95px !important;
  position: relative;
  height: calc(100vh - 84px);
  overflow-y: scroll;
}

.analyticsSection .deliverRightBar {
  right: 15px;
  top: 64px;
}

.mainanalyticsside_ .deliverPercent {
  background: #D1FADF !important;
  color: #027547 !important;
}

.mainanalyticsside_ .deliverPercent::before {
  background-color: #32D583 !important;
}

.mainanalyticsside_ .loginSub {
  color: #263682;
}

.secondaryOuterbtn_ {
  border-radius: 30px;
  border: 0px solid #263682;
  background: #F5F6FC;
  color: #263682;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 6px 18px;
  outline: none !important;
}

.sku {
  color: var(--Neutrals-N-800, #636E9F);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.twofaBox_ {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.bluesmallHeading_ {
  color: #263682;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.securityRight .headingTextStyle {
  line-height: normal;
}

.languages .IconPin img {
  width: 24px;
}

.main-container-customers {
  position: relative;
}

.fullheightBox_ {
  height: calc(100vh - 85px);
  min-height: 100% !important;
  overflow-y: auto;
}

.fullheightBox_::-webkit-scrollbar {
  display: none;
}

/**Start Security css**/

#ActivateSecurity .modal-content,
#GetSecurityScaner .modal-content {
  border-radius: 30px !important;
  background: #fff !important;
  padding: 20px 0px !important;
  border: none !important;
  box-shadow: 4px -3px 6.519px 0px rgb(52 79 117 / 3%), -11.954px 28.402px 25.481px 0px rgb(52 79 117 / 4%), -9px -5px 80px 5px rgb(52 79 117 / 7%);
}

#ActivateSecurity .modal-header,
#GetSecurityScaner .modal-header {
  border-bottom: none;
  padding: 0;
  display: none;
}

.crossBtn {
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  color: #9e9e9e;
  font-size: 19px;
  top: 10px;
  outline: none !important;
}

.descriptionTextStylesmall {
  color: #636e9f;
  margin-top: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.enableSecurity {
  text-align: center;
}

.applinktext {
  color: #47B0D6 !important;
}

.smallblueHeading_ {
  color: #4659B5;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.getQRCode {
  background: transparent;
  border-radius: 37px;
  border: 1px solid #263682;
  color: #263682;
  margin-right: 16px;
  outline: none;
}

.leftqrCode_ {
  display: inline-block;
  text-align: center;
  padding-right: 50px;
}

/**End Security css**/

/*anlytic css start*/
.analyticTable {
  height: 100%;
  max-height: 565px;
  overflow-y: scroll;
}

.analyticTable .customers-table-data {
  min-width: 180px;
}

/*analytic css end*/
/*customer css start*/
.customerHeader {
  margin: 24px;
}

.custmrInnrLeft {
  display: flex;
  gap: 6px;
  align-items: start;
}

.customerHeadRight {
  display: flex;
  align-items: center;
  justify-content: end;
}

.customerSection .stats {
  flex-wrap: wrap;
}

.customerSection .stat-box {
  min-width: 185px;
}

.customerGraphLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkGreen label:before {
  border: 1px solid #039855 !important;
  background-color: #D1FADF !important;
}

.checkGreen input:checked+label:after {
  border: solid #027547 !important;
  border-width: 0 2px 2px 0 !important;
}

.checkGreen .appointSub {
  color: #039855;
}

.checkSky label:before {
  border: 1px solid #47B0D6 !important;
  background-color: #EFFBFF !important;
}

.checkSky input:checked+label:after {
  border: solid #47B0D6 !important;
  border-width: 0 2px 2px 0 !important;
}

.checkSky .appointSub {
  color: #47B0D6;
}

.paginateTop {
  flex-wrap: wrap;
  gap: 10px;
}

/*customer css end*/

/*notification css start*/
.notifySection {
  border-radius: 20px;
  background: #FFF;
  box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02), -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
  margin: 16px;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  padding: 24px;
}

.notificationArea {
  margin-top: 24px;
}

.NotificationSubArea {
  padding-left: 16px;
}

.NotificationSubArea .taxCountryMain {
  margin-top: 12px;
  padding: 12px 16px;
}

.notifyBtn {
  border-radius: 16px;
  background: #f3f4f9;
  padding: 6px 14px;
  border: none;
  color: #6371b0;
  font-size: 12px;
  font-weight: 500;
}

.notifySection::-webkit-scrollbar {
  display: none;
}

/*notification css end*/
/*auth css start*/
.loginScroll {
  height: calc(100vh - 192px);
  overflow-y: scroll;
  padding-bottom: 24px;
}

.loginScroll::-webkit-scrollbar {
  display: none;
}

.passwordLogin .loginCard:hover {
  box-shadow: none;
}

.passwordLogin .loginCard {
  padding: 0;
  margin-bottom: 16px;
}

.deliverSubdata:nth-child(4) {
  min-width: 213px;
}

.deliverSubdata:nth-child(2) {
  min-width: 160px;
}

.deliverSubdata:nth-child(3) {
  min-width: 130px;
}

/*auth css end*/
/*ship module css start */
#ordersToReview .invoice_subhead:nth-child(2) {
  min-width: 165px;
}

#ordersToReview .invoice_subhead:nth-child(3) {
  min-width: 135px;
}

#ordersToReview .invoice_subhead:nth-child(4) {
  min-width: 225px;
}

.productDataInfo {
  min-width: 230px;
}

.invoiceDataText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  max-width: 20ch;
}

#invoiceProduct .invoice_subhead:first-child {
  min-width: 100px;
}

#invoiceProduct .invoice_subhead:nth-child(2) {
  min-width: 140px;
}

#invoiceProduct .invoice_subhead:nth-child(3) {
  min-width: 140px;
}

#invoiceProduct .invoice_subhead:nth-child(4) {
  min-width: 50px;
}

#invoiceProduct .invoice_subhead:nth-child(5) {
  min-width: 130px;
}

#invoiceProduct .invoice_subhead:last-child {
  min-width: 60px;
}

/*ship module css end*/
/*product css start*/
.filterBtn .serviceCancel {
  font-size: 15px;
  padding: 8px 18px;
}

.filterBtn .nextverifyBtn {
  font-size: 15px;
  padding: 8px 18px;
}

.filterBtn {
  gap: 6px;
}

#ReturnInventory .modal-content {
  border-radius: 20px !important;
  background: #fff !important;
  box-shadow: -2px 6px 6px 0px rgba(52, 79, 117, 0.03),
    -11px 28px 25px 0px rgba(52, 79, 117, 0.04),
    -31px 74px 80px 0px rgba(52, 79, 117, 0.07) !important;
  padding: 24px !important;
  border: none;
}

#ReturnInventory {
  width: 100%;
  max-width: 570px;
}

#ReturnInventory .modal-header {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center !important;
}

#ReturnInventory .modal-footer {
  justify-content: space-between !important;
  flex-wrap: nowrap !important;
}

#ReturnInventory .modal-footer .cancelBtn {
  width: 30%;
}

#ReturnInventory .modal-body {
  padding: 0 !important;
}

.returnProduct .priceHeading {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 32ch;
}

.productCartShow {
  min-width: 450px;
}

.productCartInfo {
  min-width: 207px;
}

.cartShowText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 15ch;

}

.productCartPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartProductImg {
  border-radius: 12px;
  background: #f3e096;
  padding: 5px 6px;
  position: relative;
}

.productNum {
  position: absolute;
  border-radius: 50%;
  background: #263682;
  color: #f5f6fc;
  font-size: 10px;
  font-weight: 600;
  height: 18px;
  width: 18px;
  top: -7px;
  right: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.holdNum {
  position: absolute;
  border-radius: 50%;
  background: #fff;
  color: #888181;
  font-size: 10px;
  font-weight: 600;
  height: 18px;
  width: 18px;
  bottom: 10px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #7a7474;
}

.stockImageBox {
  border-radius: 10px;
  border: 1px solid #D7DEFF;
  padding: 8px;
  display: inline-block;
  min-width: 60px;
  text-align: center;
}

.stockColor {
  border-radius: 10px;
  border: 1px solid #D7DEFF;
  padding: 8px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 70%;
}

.stockImg {
  width: 42px;
  height: 46px;
  border-radius: 8px;
}

.stockMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 12px;
}

.productColorBox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 6px;
  cursor: pointer;
}

.stockColumn {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

/*product css end*/
/*delivery module css start*/
#deliveryDashBoardList .invoice_subhead:first-child {
  min-width: 80px;
}

#deliveryDashBoardList .invoice_subhead:nth-child(2) {
  min-width: 165px;
}

#deliveryDashBoardList .invoice_subhead:nth-child(3) {
  min-width: 120px;
}

#deliveryDashBoardList .invoice_subhead:nth-child(4) {
  min-width: 185px;
}

#deliveryDashBoardList .invoice_subhead:last-child {
  min-width: 50px;
}

.detailScrollDelivery {
  height: calc(100% - 392px);
  overflow-y: scroll;
}

.detailDeliver {
  height: calc(100% - 378px);
  overflow-y: scroll;
}

#orderReviewDeliver .invoice_subhead:first-child,
#orderAcceptDeliver .invoice_subhead:first-child,
.deliverDashboardTable .invoice_subhead:first-child {
  min-width: 80px;
}

#orderReviewDeliver .invoice_subhead:nth-child(2),
#orderAcceptDeliver .invoice_subhead:nth-child(2),
.deliverDashboardTable .invoice_subhead:nth-child(2) {
  min-width: 155px;
}

#orderReviewDeliver .invoice_subhead:nth-child(3),
#orderAcceptDeliver .invoice_subhead:nth-child(3),
.deliverDashboardTable .invoice_subhead:nth-child(3) {
  min-width: 120px;
}

#orderReviewDeliver .invoice_subhead:nth-child(4),
#orderAcceptDeliver .invoice_subhead:nth-child(4),
.deliverDashboardTable .invoice_subhead:nth-child(4) {
  min-width: 185px;
}

.deliverDashboardTable .invoice_subhead:last-child {
  min-width: 70px;
}

.deliverProduct {
  color: #7e8ac1;
  font-size: 12px;
  font-weight: 400;
}

/*delivery module css end */
.userSide {
  justify-content: start !important;
  gap: 60px;
}

.homeTable .homeSubtable:first-child {
  min-width: 80px;
}

.homeTable .homeSubtable:nth-child(2) {
  min-width: 156px;
}

.homeTable .homeSubtable:nth-child(3) {
  min-width: 125px;
}

.homeTable .homeSubtable:last-child {
  min-width: 130px;
}

.mapleInvoiceBox {
  flex-wrap: wrap;
}

.mapleProductDetailsBox {
  min-width: 200px;
  overflow-x: scroll;
}

.mapleProductDetailsBox .flexbase {
  min-width: 200px;
}

.mapleProductDetailsBox .mapleProductcount:first-child {
  min-width: 25px;
}

.sidebarRightBooking {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.bookSideDown {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.bookingDot {
  position: absolute;
  border-radius: 20px;
  border: 1.5px solid #fff;
  background: #12b76a;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  bottom: -7px;
  right: -8px;
  text-align: center;
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookUserImg {
  width: 36px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.bookUserDot {
  position: absolute;
  border-radius: 20px;
  border: 1.5px solid #fff;
  background: #12b76a;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  bottom: 0px;
  right: 0px;
  text-align: center;
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookingUsers {
  height: calc(80vh - 300px);
  overflow-y: scroll; 
}

.bookingUsers::-webkit-scrollbar {
  display: none;
}

.passwordLogin .verifyBox {
  padding: 24px 32px;
  margin-top: 30px;
}

.loginOtpSub {
  width: 100%;
  max-width: 375px;
}
.authHeaderSub{
  padding: 0 100px;
}
 .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.staffProfileSub .appointMain {
  margin-bottom: 10px;
}
.settingOuter {
  height: calc(100vh - 33px)!important;
}