@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Start Common Css */
/* Scrollbar-Css */
.scrollbar {
  background-color: #000;
  width: 6px;
  height: 10%;
}

.scrollbar-track {
  background-color: #d9d9d9;
  margin-left: 10px;

}

.scrollbar-thumb {
  background-color: #000;
  border-radius: 16px;
  border: 0px solid #d9d9d9;
}

::-webkit-scrollbar {
  background-color: #EAECF0;
  width: 10px;
  height: 10%;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #EAECF0;
  border-radius: 16px;
  border: 0px solid #d9d9d9;
}

::-moz-scrollbar {
  background-color: #000;
  width: 5px;
  height: 5%;
}

::-moz-scrollbar-track {
  background-color: #000;
}

::-moz-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 0px solid #fff;
}

/* End Scrollbar Css */

:root {
  --gray: #3C444D;
  --darkGray: #14171A;
  --lightGray: #626262;
  --blue: #275AFF;
  --black: #000;
  --white: #fff;
  --backgroundFaded: #d9d9d933;
  --border: #CACACA;
  --labelColor: #A7A7A7;
  --lineColor: #D8D8D8;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--white);
  font-family: "Montserrat";
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

/*header css start*/
.headerSection {
  padding: 30px 10px 30px 16px;
  backdrop-filter: blur(10px);
}

.timeHeading {
  color: #636E9F;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  margin: 0 6px;
}

.timeNav {
  display: flex;
  align-items: center;
  position: relative;
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}

.timeNav::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background: #B4BEEB;
  right: -15px;
}

.timeHeading span {
  font-weight: 500;
}

.navBtn {
  color: #636E9F;
  font-size: 15px;
  font-weight: 400;
  border-radius: 30px;
  background: #FFF;
  padding: 12px;
  margin-left: 65px;
  border: none;
}

/*header css end*/

/* SwitchToggle.css */
.switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
  padding: 2px 4px;
}

.switch input {
  display: none;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B4BEEB;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.switch-slider {
  background-color: #4659B5;
}

input:checked+.switch-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}