.flex-row-space-between {
    display: flex;
    justify-content: space-between;
}

.main-text-color-styles-customers {
    color: #263682;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.48px;
}

.main-container-customers {
    margin: 16px;
    border-radius: 20px;
    background-color: #fff;
    min-height: 100vh;
    padding-bottom: 15px;
}

.cust-header {
    display: flex;
    margin: 0 24px;
    padding: 16px 0;
    justify-content: space-between;
}

.cust-header .header-title {
    color: #263682;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    margin-bottom: 10px;
}

.header-descrip {
    color: #636E9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.day-tabs {
    gap: 8px;
    height: 40px;
    padding: 6px 8px;
    align-items: center;
    border-radius: 30px;
    background: #F5F6FC;
    justify-content: center;
    margin-right: 16px;
}

.tab-item {
    padding: 6px 12px;
    border-radius: 30px;
    vertical-align: bottom;
    color: #263682;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.selected-tab {
    background-color: #263682;
    color: #F5F6FC;
}

.extras {
    height: 40px;
    align-items: center;
}

.extra-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

/* stats */
.stats {
    margin: 16px;
    gap: 16px;
}

.stat-box {
    border-radius: 16px;
    flex: 1 1 0;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat-box-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
}

.stat-box-count {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

/* stats on charts */

.chart-header-title {
    color: #263682;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

.chart-header-count {
    color: #263682;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
}

.chart-header-btn {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 30px;
    background: #263682;
}

.chart-header-btn-text {
    color: #58C2E8;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkbox-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checkbox-cnt input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #3498db;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
}

.checkbox-cnt input[type="checkbox"]:checked::before {
    content: '\2713';
    font-size: 16px;
    position: absolute;
    top: 13px;
    left: 9px;
    transform: translate(-50%, -50%);
}

.checkbox-jbrCoin[type="checkbox"] {
    border: 2px solid #263682 !important;
}

.checkbox-jbrCoin[type="checkbox"]:checked::before {
    color: #263682;
}

.checkbox-cash[type="checkbox"] {
    border: 2px solid #039855 !important;
}

.checkbox-cash[type="checkbox"]:checked::before {
    color: #039855;
}

.checkbox-cc[type="checkbox"] {
    border: 2px solid #47B0D6 !important;
}

.checkbox-cc[type="checkbox"]:checked::before {
    color: #47B0D6;
}

/* users */
.users-pagination-header {
    margin: 0px 24px;
}

.customer-calendar-cnt {
    gap: 6px;
    display: flex;
    padding: 6px 12px;
    align-self: stretch;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #D7DEFF;
    background: #FFF;
    box-shadow: -1.908px 3.783px 25.481px 0px rgba(50, 80, 127, 0.02), -4.954px 9.821px 80px 0px rgba(50, 80, 127, 0.04);
}

.users-selected-date {
    color: #263682;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.react-select-container .react-select__control {
    gap: 6px;
    display: flex;
    padding: 0 6px;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #D7DEFF;
    background: #FFF;
    box-shadow: -1.908px 3.783px 25.481px 0px rgba(50, 80, 127, 0.02), -4.954px 9.821px 80px 0px rgba(50, 80, 127, 0.04);
}

.react-select-container .react-select__control:focus {
    border: 1px solid #D7DEFF;
}

.react-select-container .react-select__control:hover {
    border: 1px solid #D7DEFF;
}

.react-select__indicator-separator {
    display: none !important;
}

.react-select__single-value {
    color: #263682 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.users-showing-results {
    color: #263682;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.roate-180deg {
    transform: rotate(180deg);
}

.pagination-numbers {
    color: #263682;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 12px;
}

.pagination-btn {
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #F5F6FC;
}

.users-tabs {
    gap: 6px;
    margin: 16px 24px;
    justify-content: flex-start;
}

.users-tab {
    gap: 4px;
    padding: 6px 10px;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid #D7DEFF;
}

.users-tab-text {
    color: #F5F6FC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.users-tab-count {
    color: #58C2E8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-stats-table {
    flex: 1 1 0;
    margin: 16px;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.users-stats-table-row {
    padding: 0px 16px;
    border-radius: 30px;
    border: 1px solid #F5F6FC;
    background: #FFF;
    align-items: center;
}

.users-stats-table-row:hover {
    cursor: pointer;
    border: 1px solid #D7DEFF;
    box-shadow: -1.908px 3.783px 25.481px 0px rgba(50, 80, 127, 0.02), -4.954px 9.821px 80px 0px rgba(50, 80, 127, 0.04);
}

.td-grow-less {
    flex-grow: 0;
}

.users-stats-row-num {
    display: flex;
    width: 44px;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #2F3552;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.users-stats-row-name {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
}

.users-stats-row-total-orders {
    display: flex;
    padding: 6px 50px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #2F3552;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.users-stats-table-head-text {
    color: #7E8AC1;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.users-stats-table-body-text {
    color: #2F3552;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.user-stats-row-name-text {
    color: #2F3552;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.user-stats-row-name-address {
    color: #7233C2;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pagination-footer {
    padding: 10px 16px;
}

.pagination-footer-text {
    color: #263682;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* user profile */
.user-profile-title {
    color: #263682;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

.user-profile-banner {
    border-radius: 20px;
    margin: 18px 24px;
    padding: 16px 28px;
    align-items: center;
    align-self: stretch;
    background-color: #D7DEFF;
}

.gift-card-cnt {
    padding: 6px 12px;
    gap: 4px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #F79009;
    background: #FFEEB3;
}

.gift-card-points-text {
    color: #DC6803;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

.label-text-style {
    color: #263682;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.user-stats-row-responsible-tag {
    color: #4659B5;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 2px 4px 3px 4px;
}

.google-map-container {
    right: 0px;
    position: absolute;
    top: 0px;
    height: 100vh;
    z-index: -1;
    width: 100%;
}

.invoice-container {
    margin-left: 16px;
    width: 320px;
    padding: 24px 0;
    height: 732px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: -1.908px 3.783px 25.481px 0px rgba(50, 80, 127, 0.02), -4.954px 9.821px 80px 0px rgba(50, 80, 127, 0.04);
}

.invoice-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding:  0px 24px;
}

.invoice-dotted-hr {
    width: 100%;
    height: 1px;
    border-bottom: #D7DEFF dotted 1px;
}

.invoice-list-item-customer {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}