@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
/* Common Css */
.innerHeading {
color: #263682;
font-size: 16px;
font-weight: 600; 
}  
.twleve {
 font-size: 12px;
 color: #9BA8E3;
 font-size: 12px;
 font-weight: 400;
 }

/* Common Css */
/* Start Invoice */
.commonBoxInvoice {
    padding: 12px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }
.searchBar{
position: relative;
border-radius: 50px ;
background: #fff ;
font-size: 16px ;
font-weight: 400;
/* padding: 10px 24px; */
}
.searchControl {
    border-radius: 50px !important;
    background: #fff !important;
    color: #636E9F !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    padding: 18px 52px;
    border: 1px solid  #E4E6F2;
} 
.searchImg {
    position: absolute;
    top: 17px;
    left: 18px;
}
.commonBoxInvoice .scanBox {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: #F5F6FC;
    position: absolute;
    top: 12px;
    right: 15px;
    text-align: center;
    padding: 7px;
}
.scanIcon {
    position: absolute;
    right: 46px;
    top: 29px;
}
.form-control:focus {
    border-color:#E4E6F2;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: none !important;
}

/* Table */
#tableProduct {
    width: 100%;
    border-spacing: 0 14px;
    border-collapse: initial;
  }
  
  .recent_head {
    width: 20%;
    padding: 0px 22px;
    color: #7E8AC1;
    font-size: 12px;
    font-weight: 500;
}
  .recent_subhead {
    font-weight: 400;
    font-size: 12px;
    color: #263682;
    padding: 12px 14px 17px 33px;
    border-bottom: 1px solid #F5F6FC;
    border-top: 1px solid #F5F6FC;
    cursor: pointer;
   
  }
  .recent_subhead:first-child {
    border-radius: 10px 0 0 10px !important;
    border-left: 1px solid #F5F6FC;
    
  }
  
  .recent_subhead:last-child {
    border-radius: 0 10px 10px 0px;
    border-right: 1px solid #F5F6FC;
  }
/* Table */


/* Start Invoice */