/* Home page css start*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

figure {
    margin: 0 !important;
}

.homeLeft {
    display: flex;
    justify-content: center;
    padding: 24px;
    flex-direction: column;
}

.homeProfileImg {
    width: 150px;
    height: 150px;
    border-radius: 128px;
    border: 6px solid #FFF;
}

.cashierHeading {
    color: #636E9F;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 0;
}

.userIdText {
    color: #636E9F;
    font-size: 12px;
    font-weight: 500;
    margin: 0 6px;
}

.cashBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.IdTextMain {
    border-radius: 20px;
    background: #F7F9FF;
    mix-blend-mode: multiply;
    padding: 8px 8px 8px 22px;
    position: relative;
    margin-left: 10px;
}

.IdTextMain::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #58C2E8;
    top: 12px;
    left: 10px;
}

.homeProfile .loginheading {
    margin: 0;
}

.profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todaySale {
    border-radius: 15px;
    background: #FFF;
    box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02), -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
    padding: 18px;
    margin-top: 26px;
}

.flexHeading {
    display: flex;
    justify-content: space-between;
}

.flexDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todaySale .loginMain {
    text-align: left;
    margin: 0;
}

.homeProfile .loginheading {
    font-weight: 600;
}

.saleHeading {
    color: #333B42;
    font-size: 13px;
    font-weight: 400;
}

.dayTimeText {
    color: #172461;
    font-size: 14px;
    font-weight: 500;
}

.cashDraw {
    margin-top: 14px;
}

.timedetail {
    margin-top: 14px;
    border-radius: 15px;
    padding: 24px;
    background: #F5F6FC;
}

.productReturn {
    border-radius: 30px;
    border: 1px solid #263682;
    padding: 14px 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    cursor: pointer;
}

.lockScreenBox {
    border-radius: 30px;
    border: 0px solid #263682;
    background: #E4E6F2;
    padding: 14px 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    cursor: pointer;
}

.homeRight {
    background: #FFF;
    padding: 24px;
    height: 100vh;
}

.homeLeft {
    height: 100vh;
}

.searchControl {
    border-radius: 50px !important;
    background: #F5F6FC !important;
    color: #636E9F !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    padding: 18px 50px;
}

.searchControl::placeholder {
    color: #636E9F;
    font-size: 16px;
    font-weight: 400;
}

.scanSearch {
    position: absolute;
    top: 8px;
    right: 12px;
}

.searchControlBox {
    position: relative;
}

.searchImg {
    position: absolute;
    top: 18px;
    left: 15px;
}

.startSelling {
    border-radius: 24px;
    background: #263682;
    width: 100%;
    padding: 30px 0;
}

.sellingOrder .loginMain {
    color: rgba(255, 255, 255, 0.95);
    text-transform: capitalize;
    margin-top: 15px;
}

.sellingOrder .smallText {
    color: #58C2E8;
    margin-left: 7px;
}

.scanText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 8px;
}

.sellingOrder {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 24px;
}

.onlineOrder {
    border-radius: 24px;
    background: #111633;
    width: 100%;
    padding: 30px 0;
    position: relative;
    text-align: center;
}

.bellImg {
    position: absolute;
    top: 15px;
    right: 16px;
}

.bellOuter {
    border-radius: 50px;
    border: 1px solid #58C2E8;
    background: rgba(88, 194, 232, 0.10);
    padding: 10px;
    position: relative;
}

.bellOuter::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #F97066;
    border-radius: 50%;
    border: 2px solid #111633;
    bottom: 3px;

}

.OrderBtn {
    color: #58C2E8;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #58C2E8;
    background: rgba(88, 194, 232, 0.10);
    margin-top: 10px;
}

.deliverTable {
    height: calc(60vh - 50px);
    overflow-y: scroll;
}

.profileMainTable .loginMain {
    margin: 0 0 20px 0;
    text-align: left;
}

.profileMainTable {
    margin-top: 24px;
}

.orderId {
    color: #2F3552;
    font-size: 14px;
    font-weight: 400;
    max-width: 20ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nameLocation .orderId,
.deliveryTime .orderId,
.itemMoney .orderId,
.itemTime .orderId {
    font-weight: 500;
}

.locateDistance {
    color: #7233C2;
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
}

.itemMoney .locateDistance {
    color: #3CAF77;
}

.itemTime .locateDistance {
    color: #47B0D6;
}

.deliveryTime .orderId {
    margin-left: 8px;
}

.deliveryTime {
    display: flex;
    align-items: center;
}

.profileSaleData {
    height: calc(63vh - 109px);
    overflow-y: scroll;
}

.profileSaleData::-webkit-scrollbar-track {
    background-color: #F5F6FC;
}

.deliverTable::-webkit-scrollbar-track {
    background-color: #FFF;
}

.homeOverview {
    height: 100vh;
    overflow: hidden;
}

.flexTable {
    display: flex;
    align-items: center;
}

.deliverSubdata {
    border-bottom: 1px solid #E4E6F2;
    border-top: 1px solid #E4E6F2;
    padding: 14px;

}

.deliverSubdata:first-child {
    border-radius: 10px 0 0 10px !important;
    border-left: 1px solid #E4E6F2;
    vertical-align: baseline;
}

.deliverSubdata:last-child {
    border-radius: 0 10px 10px 0px;
    border-right: 1px solid #E4E6F2;
}

#tableProduct {
    width: 100%;
    border-spacing: 0 14px;
    border-collapse: initial;
}

/*sessionModal css start*/

#trackingModal {
    width: 100%;
    max-width: 372px;

}

#trackingModal .modal-content {
    border-radius: 30px;
    background: #FFF;
    box-shadow: -3px 6px 7px 0px rgba(52, 79, 117, 0.03), -12px 28px 25px 0px rgba(52, 79, 117, 0.04), -31px 74px 80px 0px rgba(52, 79, 117, 0.07);
}

.modal_cancel {
    margin-left: auto;
    cursor: pointer;
}

#trackingModal .modal-header {
    border: none;
    padding-bottom: 0;
}

#trackingModal .modal-body {
    padding: 0 24px 24px 24px !important;
}

.trackingHeading {
    color: #263682;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.trackingSub .loginheading {
    margin: 12px 0;
    font-size: 24px;
}

.inputSelect {
    display: flex;
    padding: 18px 24px;
    border-radius: 50px;
    border: 1px solid #D7DEFF;
    background: #FFF;
    box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02), -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
}

.trackingSelect {
    border: none !important;
    outline: none;
    background-color: #FFF;
    color: #263682 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    padding: 0 !important;
    width: 65px;
}

.trackingInput {
    background-color: #FFF;
    color: #263682 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    padding: 0 !important;
}

.trackingInput::placeholder {
    color: #263682 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.amountText {
    color: #263682;
    font-size: 14px;
    font-weight: 500;
    margin-left: 24px;
}

.trackingForm {
    margin-top: 24px;
}

.trackingForm .loginSub {
    text-align: left;
    margin: 8px 18px;
    font-weight: 400;
}

.textControl {
    border-radius: 16px;
    border: 1px solid #D7DEFF !important;
    background: #FFF !important;
    box-shadow: -5px 10px 80px 0px rgba(50, 80, 127, 0.04), 0px 0px 0px 5px rgba(38, 54, 130, 0.06), 0px 1px 2px 0px rgba(127, 143, 217, 0.47) !important;
    outline: none;
    color: #263682 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    padding: 18px 18px 18px 40px;

}

.textAreaSection {
    position: relative;
    margin-top: 24px;
}

.commentImg {
    position: absolute;
    top: 18px;
    left: 12px;
}

.textControl::placeholder {
    color: #263682 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

/*sessionModal css end*/

/* Home page css end*/

/*service pages css start*/
.AddtoCart {
    position: absolute;
    right: 108px;
    top: 183px;
    height: calc(100vh - 214px);
    border-radius: 20px;
    border: 1px solid #F5F6FC;
    padding: 24px 16px;
    background: #FFF;
    width: 100%;
    max-width: 475px;
    box-shadow: -3px 6px 7px 0px rgba(52, 79, 117, 0.03), -12px 28px 25px 0px rgba(52, 79, 117, 0.04), -31px 74px 80px 0px rgba(52, 79, 117, 0.07), -152px 0px 90px 62px rgba(52, 79, 117, 0.10);
}

.cartSubInfo {
    display: flex;
    border-radius: 8px;
    border: 1px solid #F5F6FC;
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.cartFoodImg {
    height: 34px;
    width: 34px;
    border-radius: 6px;
}

.cartText {
    color: #2F3552;
    font-size: 12px;
    font-weight: 500;
}

.orderTime {
    display: flex;

}

.cartProfileImg {
    border-radius: 50%;
    border: 1.25px solid #FFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.cartMoney {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.orderCalculate {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tomorrowCart .appointmentDate {
    background-color: #EFFBFF !important;
    color: #47B0D6 !important;
}

.AddtoCart .appointmentDate {
    margin: 4px 0 !important;
    border-radius: 6px !important;
    display: flex !important;
}

.todayCart .appointmentDate {
    background-color: #D1FADF;
    color: #039855;
}

.afterCart .appointmentDate {
    background-color: #FFF7D7;
    color: #DC6803;
}

.incrementBtn {
    border-radius: 8px;
    border: 1px solid #F5F6FC;
    display: flex;
    align-items: center;
}

.incrementBtn.active {
    border-radius: 6px;
    border: 1px solid #D7DEFF !important;
    background: #FFF;
    box-shadow: 0px 0px 0px 4px rgba(127, 143, 217, 0.05);
}

.unitPriceControl.active {
    border-radius: 6px;
    border: 1px solid #D7DEFF !important;
    background: #FFF;
    box-shadow: 0px 0px 0px 4px rgba(127, 143, 217, 0.05);
}

.plusMinus {
    color: #263682;
    cursor: pointer;
    padding: 5px 10px;
}

.addBtnControl {
    color: #636E9F !important;
    text-align: center !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    border-left: 1px solid #D7DEFF;
    border-right: 1px solid #D7DEFF;
    background-color: #fff !important;
    border-radius: 0 !important;
    max-width: 25px;
    padding: 5px 7px !important;
    appearance: none !important;
}

.addBtnControl::placeholder {
    color: #636E9F;
}

.cartSubInfo .checkmark {
    top: -7px;
}

.cartSubInfo.active {
    border: 1px solid #D7DEFF;
    background: #FFF;
    box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02), -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
}

.addBtnControl::-webkit-outer-spin-button,
.addBtnControl::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.trackingInput::-webkit-outer-spin-button,
.trackingInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.unitPriceControl::-webkit-outer-spin-button,
.unitPriceControl::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.customerInput::-webkit-outer-spin-button,
.customerInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dividesection {
    padding: 0 30px;
}

.cartTotalsection {
    padding: 25px;
}

.cartTotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cartTotalsection .nextverifyBtn {
    margin-top: 30px;
    padding: 14px 16px;
}

.divideBorder {
    background-color: #E4E6F2;
}

.subFooter {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    max-width: 455px;
    bottom: 32px;
}

.cartInfo {
    height: 295px;
    overflow-y: scroll;
}

.addServiceSection {
    padding: 0 24px 0 0;
}

.commonSubOuter {
    overflow-y: scroll !important;
}

.newServiceSection {
    padding: 30px 26px !important;
}

.addServicePara {
    color: #636E9F;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.newServiceDetail {
    display: flex;
    align-items: flex-start;
}

.addSeviceImg {
    height: 100%;
    max-height: 200px;
    width: 100%;
    border-radius: 16px;
}

.serviceProfile {
    margin: 24px 0;
    position: relative;
}

.rotateImage {
    position: absolute;
    background-color: #fff;
    border-radius: 30px;
    padding: 6px;
    bottom: -14px;
    right: -3px;
}

.consultInfo .userIdText {
    margin: 16px 0;
}

.consultInfo .Timezone {
    border-radius: 20px;
    background: rgba(228, 230, 242, 0.50);
    display: flex;
    align-items: center;
}

.providerSection {
    padding: 0 12px;
    margin: 24px 0;
}

.addServiceProfile {
    border-radius: 16px;
    border: 1px solid #D7DEFF;
    padding: 12px 10px;
    margin-top: 12px;
    text-align: center;
}

.addServiceProfile.active {
    border: 1px solid #6F84E8;
    background: #F5F6FC;
    box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02), -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
}

.providerImage {
    border: 3px solid #E4E6F2;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.providerSubText {
    color: #7E8AC1;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-top: 2px;
}

.addServiceProfile .amountText {
    margin: 10px 0 0 0 !important;
    text-align: center;
}

.appointmentSub {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.appointMain {
    color: #263682;
    font-size: 24px;
    font-weight: 500;
}

.appointSub {
    color: #263682;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.appointmenMonth {
    border-radius: 50px;
    border: 1px solid #D7DEFF;
    background: #FFF;
    box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02), -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
    padding: 10px;
    cursor: pointer;
}

.monthText {
    color: #263682;
    font-size: 16px;
    font-weight: 400;
}

.scheduleSection {
    text-align: center;
    margin: 24px 0;
}

.daycalendar {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.scheduleTime {
    border-radius: 8px;
    border: 1px solid #D7DEFF;
    padding: 12px 10px;
    text-align: center;
    width: 100%;
}

.scheduleTime.active {
    border-radius: 8px;
    border: 1px solid #12B76A;
    background: #D1FADF;
}

.scheduleTime.active .addServicePara {
    color: #027547;
    font-weight: 500;
}

.scheduleTimeImg {
    border-radius: 8px;
    border: 1px solid #D7DEFF;
    padding: 12px 10px;
    width: 100%;
    height: 45px;
}

.scheduleDay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin-top: 10px;
}

.serviceFooter {
    position: absolute;
    bottom: 24px;
    width: 100%;
    right: 0;
    margin: 0 auto;
    padding: 0 24px;
}

.appointmentSection {
    position: relative;
    padding: 30px 26px !important;

}

.fullCartSection {
    padding: 0 24px 0 0;
}

.fullCartLeft {
    padding: 24px !important;
}

.fullCartInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullCartInfo .appointmentHeading {
    display: flex;
    align-items: center;
}

.cartDivide {
    background-color: #D7DEFF;
    margin: 30px 0;
}

.modal-backdrop.show {
    opacity: 1.5 !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(10px) !important;
}

.cartDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.cartItemDetail {
    display: flex;
    align-items: flex-start;
}

.fullCartSection .cartSubInfo {
    padding: 9px 12px;
    align-items: flex-start;
}

.cartDetails {
    padding: 9px 12px;
}

.unitPriceControl {
    border-radius: 6px;
    border: 1px solid #E4E6F2;
    background: #F5F6FC;
    padding: 8px !important;
    width: 70px !important;
    margin: 0 !important;
    color: #263682 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.unitPriceControl::placeholder {
    color: #263682 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.cartInfoText {
    color: #172461;
    font-size: 12px;
    font-weight: 500;
}

.fullCartSection .appointmentDate {
    display: flex;
}

.insertProductSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullCartRight {
    padding: 16px !important;
}

.addproductCart {
    border-radius: 12px;
    background: #F5F6FC;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.deleteProductCart {
    border-radius: 12px;
    background: #FEE4E2;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.deleteProductCart .monthText {
    color: #D92D20;
}

.cartOfferSection {
    border-radius: 20px;
    border: 1.5px solid #FFD74B;
    margin-top: 30px;
}

.availablePercent {
    border-radius: 12px 12px 0px 0px;
    background: #FFD74B;
    padding: 12px 16px;
    display: flex;
}

.offerImg {
    display: flex;
    justify-content: start;
    width: 40%;
}

.offerHeading {
    color: #5D4800;
    font-size: 20px;
    font-weight: 500;
}

.offerCartImg {
    border-radius: 7.5px;
    background: #FFF7D7;
    padding: 5px 10px;
}

.offerCartImg.active {
    border: 1.25px solid #FFEEB3;
}

.availableoffer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 8px 16px 8px;
    border-bottom: 1px solid #FEEFC6;

}

.offerdata {
    margin: 8px 4px 8px 8px;
    height: calc(40vh - 120px);
    overflow-y: scroll;
}

.cartOfferInfo {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.availablemain {
    overflow: hidden;
    color: #5D4800;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    max-width: 28ch;
}

.availableTime {
    color: #C29613;
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 22ch;
}

.availablePrice {
    color: #C29613;
    font-size: 12px;
    font-weight: 400;
    margin-top: 16px;
}

.actualPrice {
    color: #5D4800;
    font-size: 12px;
    font-weight: 400;
    margin: 16px 0 0 16px;
}

.offerdata::-webkit-scrollbar-thumb {
    background-color: #FFEEB3 !important;
}

.discountBtn {
    border-radius: 12px;
    background: #FFD74B;
    padding: 10px 24px;
    border: none;
    color: #5D4800;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}

.discountOfferMain {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notesBtn {
    border-radius: 12px;
    background: #F5F6FC;
    padding: 10px 16px;
    color: #263682;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
}

.totalCheckout {
    border-radius: 16px;
    background: #F5F6FC;
    padding: 16px;
}

.lightOfferText {
    color: #7E8AC1;
    font-size: 14px;
    font-weight: 400;
}

.offerCartTotal {
    border-bottom: 2px dotted #7E8AC1;
    padding-bottom: 10px;
}

.totalText {
    color: #2F3552;
    font-size: 14px;
    font-weight: 600;
}

.totalSubText {
    color: #263682;
    font-size: 14px;
    font-weight: 600;
}

.serviceArrow {
    cursor: pointer;
}

.daysubCalendar {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
}

.serviceDate {
    border-radius: 16px;
    border: 1px solid #F7F9FF;
    padding: 10px;
}

.dateText {
    color: #263682;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.serviceDate.active {
    background: #12B76A;
    border: none;
}

.serviceDate.active .productName,
.serviceDate.active .dateText {
    color: #ECFDF3;
}

.serviceDayTime {
    height: calc(50vh - 80px);
    overflow-y: scroll;
}

#addCustomerModal {
    width: 100%;
    max-width: 420px;
}

#addCustomerModal .modal-content {
    border-radius: 30px !important;
    background: #FFF !important;
    box-shadow: -3px 6px 6px 0px rgba(52, 79, 117, 0.03), -12px 28px 25px 0px rgba(52, 79, 117, 0.04), -31px 74px 80px 0px rgba(52, 79, 117, 0.07) !important;
    padding: 30px 24px;
}

#addCustomerModal .modal-header {
    border: none;
    padding: 0 !important;
}
#createCustomerModal{
    width: 100%;
    max-width: 430px;
}
#createCustomerModal .modal-content {
    border-radius: 30px !important;
    background: #FFF !important;
    box-shadow: -3px 6px 6px 0px rgba(52, 79, 117, 0.03), -12px 28px 25px 0px rgba(52, 79, 117, 0.04), -31px 74px 80px 0px rgba(52, 79, 117, 0.07) !important;
    padding: 30px 24px;
}

#createCustomerModal .modal-header {
    border: none;
    padding: 0 !important;
}
.customerInput {
    border-radius: 50px !important;
    border: 1px solid #E4E6F2 !important;
    background: #FFF !important;
    box-shadow: 0px 0px 0px 4px rgba(127, 143, 217, 0.05) !important;
    padding: 16px 8px 16px 46px !important;
    color: #263682 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.customerControl {
    margin: 32px 0;
    position: relative;
}

.addSearch {
    position: absolute;
    top: 16px;
    left: 16px;
}

.customerInput::placeholder {
    color: #263682 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.customerLink {
    color: #263682 !important;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.addCustomerForm {
    display: flex;
    flex-direction: column;
}

.serviceCancel {
    color: #263682;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 40px;
    border-radius: 30px;
    background: #E4E6F2;
    border: none;
}

.addCustomerBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerModal{
    position: relative;
}
.crossModal{
    position: absolute;
    top: 0;
    right: 0;
}
.inputPosition{
    position: relative;
}
/*service pages css end*/
/*media query start*/
@media (max-width:1600px) {
    .cartOfferSection {
        margin-top: 20px;
    }

    .discountOfferMain {
        margin: 20px 0;
    }

    .offerdata {
        height: calc(40vh - 137px);
    }
}

@media (max-width:1400px) {
    .serviceDayTime {
        height: calc(50vh - 120px);
        overflow-y: scroll;
    }
}

@media (max-width:1366px) {

    .offerImg {
        display: flex;
        justify-content: start;
        width: 35%;
    }

    .offerdata {
        height: calc(40vh - 164px);
    }

}

@media (max-width:1280px) {
    .cartInfo {
        height: 200px;
        overflow-y: scroll;
    }

    .offerImg {
        display: flex;
        justify-content: start;
        width: 30%;
    }

    .serviceDayTime {
        height: calc(50vh - 140px);
        overflow-y: scroll;
    }

    .cartOfferSection {
        margin-top: 15px;
    }

    .discountOfferMain {
        margin: 15px 0;
    }
}