/* Home page css start*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

figure {
    margin: 0;
}

.homeLeft {
    display: flex;
    justify-content: center;
    padding: 24px;
    flex-direction: column;
}

.homeProfileImg {
    width: 150px;
    height: 150px;
    border-radius: 128px;
    border: 6px solid #FFF;
}

.cashierHeading {
    color: #636E9F;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 0;
}

.userIdText {
    color: #636E9F;
    font-size: 12px;
    font-weight: 500;
    margin: 0 6px;
}

.cashBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.IdTextMain {
    border-radius: 20px;
    background: #F7F9FF;
    mix-blend-mode: multiply;
    padding: 8px 8px 8px 22px;
    position: relative;
    margin-left: 10px;
}

.IdTextMain::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #58C2E8;
    top: 12px;
    left: 10px;
}

.homeProfile .loginheading {
    margin: 0;
}

.profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todaySale {
    border-radius: 15px;
    background: #FFF;
    box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02), -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
    padding: 24px;
    margin-top: 26px;
}

.flexHeading {
    display: flex;
    justify-content: space-between;
}

.todaySale .loginMain {
    text-align: left;
    margin: 0;
}

.homeProfile .loginheading {
    font-weight: 600;
}

.saleHeading {
    color: #333B42;
    font-size: 14px;
    font-weight: 400;
}

.dayTimeText {
    color: #172461;
    font-size: 14px;
    font-weight: 500;
}

.cashDraw {
    margin-top: 14px;
}

.timedetail {
    margin-top: 14px;
    border-radius: 15px;
    padding: 24px;
    background: #F5F6FC;
}

.productReturn {
    border-radius: 30px;
    border: 1px solid #263682;
    padding: 14px 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.lockScreenBox {
    border-radius: 30px;
    border: 0px solid #263682;
    background: #E4E6F2;
    padding: 14px 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.homeRight {
    background: #FFF;
    padding: 24px;
}

.searchControl {
    border-radius: 50px !important;
    background: #F5F6FC !important;
    color: #636E9F !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: normal;
    letter-spacing: -0.32px;
    padding: 10px 24px;
}

.searchControl::placeholder {
    color: #636E9F;
    font-size: 16px;
    font-weight: 400;
}

.scanSearch {
    position: absolute;
    top: 8px;
    right: 12px;
}

.searchControl {
    position: relative;
}

.searchImg {
    position: absolute;
    top: 18px;
    left: 15px;
}

.startSelling {
    border-radius: 24px;
    background: #263682;
    width: 100%;
    padding: 30px 0;
}

.sellingOrder .loginMain {
    color: rgba(255, 255, 255, 0.95);
    text-transform: capitalize;
    margin-top: 15px;
}

.sellingOrder .smallText {
    color: #58C2E8;
}

.scanText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 8px;
}

.sellingOrder {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 24px;
}

.onlineOrder {
    border-radius: 24px;
    background: #111633;
    width: 100%;
    padding: 30px 0;
    position: relative;
    text-align: center;
}

.bellImg {
    position: absolute;
    top: 15px;
    right: 16px;
}

.OrderBtn {
    color: #58C2E8;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 30px;
    border: 1px solid #58C2E8;
    background: rgba(88, 194, 232, 0.10);
    margin-top: 10px;
}

.deliverTable {
    margin-top: 24px;
}

.deliverTable .loginMain {
    margin: 0 0 20px 0;
    text-align: left;
}

.orderRow {
    border-radius: 16px !important;
    border: 1px solid #E4E6F2;
}


/* Home page css end*/