@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

/* Common Css */
.textSmall {
    color: #93370D;
    font-size: 14px;
    font-weight: 500;
}

.textBig {
    color: #93370D;
    font-size: 24px;
    font-weight: 600;
}

.fontEighteen {
    color: #263682;
    font-family: 'Roobert';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.listBtn {
    color: #F5F6FC;
    font-size: 14px;
    font-weight: 400;
    border-radius: 30px;
    background: #263682;
    padding: 11px;
    border: none;
}

/* Common Css */

/*  Start Deliveries */
.deliverBox {
    border-radius: 16px;
    border: #F79009;
    background: #FFEEB3;
    padding: 30px 20px;
}

.deliverBox.boxDeliverBlue {
    background: #D7DEFF;
}

.boxDeliverBlue .textSmall {
    color: #172461;
}

.boxDeliverBlue .textBig {
    color: #172461;

}

.boxDeliverGreen {
    border: #039855;
    background: #D1FADF;
}

.boxDeliverGreen .textSmall {
    color: #003921;
}

.boxDeliverGreen .textBig {
    color: #003921;

}

.boxDeliversky {
    border: #58C2E8;
    background: #BFEEFF;
}

.boxDeliversky .textSmall {
    color: #1F6A84;
}

.boxDeliversky .textBig {
    color: #1F6A84;

}

.totalIcons {
    margin-bottom: 18px;
}

/* End Deliveries */

/** Start Booking Module **/
/* Booking Nav bar */
.bookingNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking {
    display: flex;
    align-items: center;
}

.bookingCall {
    width: 100%;
    max-width: 236px;
}

.seacrhBox {
    position: relative;
}

.blueSearch.me-2 {
    position: absolute;
    top: 13px;
    left: 16px;
}

.searchControlbook {
    width: 100%;
    max-width: 200px;
    border-radius: 50px;
    border: 1px solid #E4E6F2;
    background: #FFF;
    padding: 13px 13px 12px 43px;
}

.bgBooking {
    border-radius: 30px;
    border: 1px solid #D7DEFF;
    background: #F5F6FC;
    box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02), -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
    padding: 10px;
    cursor: pointer;
}

/* Booking Nav bar */
/* RightDide Bar Booking */

.sidebarRightBooking {
    width: 100px; 
    border-radius: 50px;
    margin: 0 10px;
    background: #FFF !important;
    box-shadow: -1.90817px 3.78304px 25.48148px 0px rgba(50, 80, 127, 0.02), -4.95391px 9.82135px 80px 0px rgba(50, 80, 127, 0.04);
    height: calc(100vh - 129px);
}
.commonFlex {
    display: flex;
    align-items: center;
}
.commanOuter.mainBooking {
    width: 100%;
}
.SidebarRightItems {
    text-align: center;
    position: relative;
}
.sidebarIcons {
    width: 50px;
}
.bottomdot {
    position: absolute;
    border-radius: 20px;
    border: 3px solid  #FFF;
    background: #12B76A;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    top: 37px;
    right: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
}
.SidebarRightItems:last-child {
    position: fixed;
    bottom: 32px;
    right: 30px;
}
/* .sidebarIcons.calendarIcon {
    margin: 23px 0px 28px 7px;
} */





/** End Booking Module **/