@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

/* Common Css */
.textSmall {
    color: #93370D;
    font-size: 14px;
    font-weight: 500;
}

.textBig {
    color: #93370D;
    font-size: 24px;
    font-weight: 600;
}

.fontEighteen {
    color: #263682;
    font-family: 'Roobert';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}

.listBtn {
    color: #F5F6FC;
    font-size: 14px;
    font-weight: 400;
    border-radius: 30px;
    background: #263682;
    padding: 11px;
    border: none;
}

/* Common Css */

/*  Start Deliveries */
.deliverBox {
    border-radius: 16px;
    border: #F79009;
    background: #FFEEB3;
    padding: 30px 20px;
}

.deliverBox.boxDeliverBlue {
    background: #D7DEFF;
}

.boxDeliverBlue .textSmall {
    color: #172461;
}

.boxDeliverBlue .textBig {
    color: #172461;

}

.boxDeliverGreen {
    border: #039855;
    background: #D1FADF;
}

.boxDeliverGreen .textSmall {
    color: #003921;
}

.boxDeliverGreen .textBig {
    color: #003921;

}

.boxDeliversky {
    border: #58C2E8;
    background: #BFEEFF;
}

.boxDeliversky .textSmall {
    color: #1F6A84;
}

.boxDeliversky .textBig {
    color: #1F6A84;

}

.totalIcons {
    margin-bottom: 18px;
}

/* End Deliveries */

/** Start Booking Module **/
/* Booking Nav bar */
.bookingNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking {
    display: flex;
    align-items: center;
}

.bookingCall {
    width: 100%;
    max-width: 236px;
}

.seacrhBox {
    position: relative;
}

.blueSearch.me-2 {
    position: absolute;
    top: 13px;
    left: 16px;
}

.searchControlbook {
    width: 100%;
    max-width: 200px;
    border-radius: 50px;
    border: 1px solid #E4E6F2;
    background: #FFF;
    padding: 13px 13px 12px 43px;
}

.bgBooking {
    border-radius: 30px;
    border: 1px solid #D7DEFF;
    background: #F5F6FC;
    box-shadow: -2px 4px 25px 0px rgba(50, 80, 127, 0.02), -5px 10px 80px 0px rgba(50, 80, 127, 0.04);
    padding: 10px;
    cursor: pointer;
}

/* Booking Nav bar */
/* RightDide Bar Booking */

.sidebarRightBooking {
    width: 100px;
    border-radius: 50px;
    margin: 0 10px;
    background: #FFF !important;
    box-shadow: -1.90817px 3.78304px 25.48148px 0px rgba(50, 80, 127, 0.02), -4.95391px 9.82135px 80px 0px rgba(50, 80, 127, 0.04);
    height: calc(100vh - 129px);
}

.commonFlex {
    display: flex;
    align-items: center;
}

.commanOuter.mainBooking {
    width: 100%;
}

.SidebarRightItems {
    text-align: center;
    position: relative;
}

.sidebarIcons {
    width: 50px;
}

 .bottomdot {
    position: absolute;
    border-radius: 20px;
    border: 3px solid #FFF;
    background: #12B76A;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    top: 37px;
    right: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
} 


/* .sidebarIcons::before{
    content: '';
    position: absolute;
    border-radius: 20px;
    border: 3px solid #FFF;
    background: #12B76A;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    top: 37px;
    right: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
} */

.SidebarRightItems:last-child {
    position: fixed;
    bottom: 32px;
    right: 30px;
}

/* .sidebarIcons.calendarIcon {
    margin: 23px 0px 28px 7px;
} */
.navtabs {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

.tabsappointment {
    margin-right: 21px;
}

.navLink.active {
    color: #F5F6FC;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    background: #263682;
    padding: 5px;
    border-radius: 8px;
}

.navLink {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid red;
    color: #8D99D2;
    border: 1px solid var(--Primary-P-50-Main, #F5F6FC);
}

.navtabs {
    margin: 30px 0 30px 0;
}

.bookingDay .totalrefundAmount {
    padding: 0;

}

.bookingDay .fontEighteen {
    color: #7E8AC1 !important;
}

#bookingTable {
    width: 100%;
    border-spacing: 0 14px;
    border-collapse: initial;
}

.subHeadText {
    color: #2F3552;
    font-size: 12px;
    font-weight: 500;
}

#bookingTable .recent_subhead {
    border-top: 1px solid rgba(0, 204, 143, 0.3);
    border-bottom: 1px solid rgba(0, 204, 143, 0.3);
}

#bookingTable .recent_subhead:first-child {
    border-radius: 30px 0 0 30px !important;
    border-left: 1px solid #F5F6FC;
    border: 1px solid #F5F6FC;
}

.bookingTable .recent_subhead {
    font-weight: 400;
    font-size: 12px;
    color: #263682;
    padding: 12px 20px 18px 24px;
    border-bottom: 1px solid #F5F6FC;
    border-top: 1px solid #F5F6FC;
    cursor: pointer;
}

.bookingTable {
    width: 100%;
    border-spacing: 0 14px;
    border-collapse: initial;
}

.bookingTable .recent_head {
    width: 25%;
    padding: 0px 22px;
    color: #7E8AC1;
    font-size: 12px;
    font-weight: 500;
}
.editBtn {
    width: 40px;
    height: 40px;
    background: #263682;
    text-align: center;
    padding: 10px;
    border-radius: 40px;
    background: var(--Primary-P-50-Main, #F5F6FC);
    border: none;
}

.checkinBox {
    width: 100%;
    min-width: 114px;
    padding: 12px;
    border-radius: 30px;
    border: #263682;
    background: #F5F6FC;
    margin-right: 20px;
}

.checkinBox .textSmall {
    color: #263682;
    font-size: 14px;
    font-weight: 500;

}

.bookingTable .recent_head {
    padding: 6px 25px !important;
}

.purpleText {
    color: #7233C2;
    font-size: 12px;
    font-weight: 500;

}

.checkinBg {
    display: flex;
    align-items: center;
    text-align: center;
}
.recent_subhead:last-child {
    border-radius: 30px;
   
        border-right: 1px solid #F5F6FC;

}
.recent_subhead:first-child {
    border-radius: 30px!important;
    border-left: 1px solid #F5F6FC;
    
}
.completed {
    width: 100%;
    min-width: 114px;
    padding: 12px;
    border-radius: 30px;
    border: #263682;
    background: #12B76A;
}
.completed .textSmall {
    color: #fff;
}




/** End Booking Module **/