@media (max-width: 1600px) {
    .sideMini {
        display: none;
    }

    .cartOfferSection {
        margin-top: 20px;
    }

    .discountOfferMain {
        margin: 20px 0;
    }

    .offerdata {
        height: calc(40vh - 137px);
    }

    .shipTableData .invoice_subhead {
        width: 100%;
        min-width: 175px;
    }

    .shipTableData .invoice_subhead:first-child {
        width: 100%;
        min-width: 100px;
    }

    .shipTableData .invoice_subhead:last-child {
        width: 100%;
        min-width: 50px;
    }

    .shipTableData .invoice_subhead:nth-child(3) {
        width: 100%;
        min-width: 270px;
    }

    .cancelShipData .invoice_subhead {
        width: 100%;
        min-width: 175px;
    }

    .cancelShipData .invoice_subhead:last-child {
        width: 100%;
        min-width: 50px;
    }

    .cancelShipData .invoice_subhead:nth-child(2) {
        width: 100%;
        min-width: 220px;
    }

    .cancelShipData .invoice_subhead:nth-child(3) {
        width: 100%;
        min-width: 150px;
    }

    .productSearchBx {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 1400px) {
    .navbar-nav .nav-item {
        padding: 0 30px;
    }

    /* .serviceDayTime {
        height: calc(50vh - 120px);
        overflow-y: scroll;
    } */
    .serviceDayTime {
        height: calc(42vh - 80px);
        overflow-y: scroll;
    }

    .staffInfoBox::before {
        left: 30px;
    }

    .productSearchBx {
        width: 100%;
        max-width: 385px;
    }

    .passwordLogin .loginMain {
        font-size: 18px;
    }

    .passwordLogin .loginSub {
        font-size: 12px;
    }

    .passwordLogin .loginPara {
        font-size: 11px;
    }

    .passwordLogin .otpMain {
        margin: 24px 0;
    }

    .passwordLogin .pin-box input {
        width: 52px !important;
        height: 52px !important;
    }

    .passwordLogin .verifyBtn {
        gap: 12px;
    }

    .passwordLogin .verifyHeading {
        font-size: 28px;
    }

    .passwordLogin .verifySub {
        font-size: 16px;
    }

    .passwordLogin .nextverifyBtn {
        padding: 14px 20px;
        font-size: 16px;
    }

    .passwordLogin .backverifyBtn {
        padding: 14px 20px;
        font-size: 16px;
    }

}

@media (max-width:1366px) {
    .monthText {
        font-size: 13px;
    }

    .tabsappointment {
        margin-right: 8px;
    }

    .offerImg {
        display: flex;
        justify-content: start;
        width: 35%;
    }

    .offerdata {
        height: calc(40vh - 164px);
    }

    .staffInfoBox::before {
        left: 45px;
    }

    .productSearchBx {
        width: 100%;
        max-width: 340px;
    }
}

@media (max-width: 1280px) {
    .navBtn {
        padding: 10px;
    }

    .cartInfo {
        height: 200px;
        overflow-y: scroll;
    }

    .deliverCheck {
        display: flex;
        justify-content: end;
        gap: 12px;
    }

    .offerImg {
        display: flex;
        justify-content: start;
        width: 30%;
    }

    /* .serviceDayTime {
        height: calc(50vh - 140px);
        overflow-y: scroll;
    } */

    .cartOfferSection {
        margin-top: 15px;
    }

    .discountOfferMain {
        margin: 15px 0;
    }

    .deliverOrderData .deliverSubdata {
        width: 100%;
        min-width: 120px;
    }

    .staffInfoBox::before {
        left: 80px;
    }

    .loginLogo {
        padding: 12px 16px;
        top: 24px;
        left: 15px;
    }

    .homeLeft {
        padding: 24px 12px;
    }

    .homeRight {
        padding: 24px 12px;
    }

    .homeProfileImg {
        width: 130px;
        height: 130px;
    }

    .loginheading {
        font-size: 26px;
    }

    .cashierHeading {
        font-size: 14px;
    }

    .homeRight .searchControl {
        padding: 15px 52px !important;
    }

    .scanSearch {
        width: 40px !important;
        height: 40px !important;
    }

    .bellOuter {
        padding: 6px;
    }

    .sellingOrder .loginMain {
        font-size: 18px;
    }

    .OrderBtn {
        padding: 7px;
    }

    .homeOverview .dayTimeText {
        font-size: 12px;
    }

    .productSearchBx {
        width: 100%;
        max-width: 300px;
    }

    .BlueBtn {
        padding: 7px 12px;
        margin-left: 0;
    }

    .GreyBtn {
        padding: 7px 12px;
    }
}

@media (max-width: 1200px) {
    .staffInfoBox::before {
        display: none;
    }

    .dollar {
        padding: 20px 15px;
    }

    .smallImages {
        max-width: 222px;
    }

    .otherAppImage {
        max-width: 486px;
    }

    .navbar-nav .nav-item {
        padding: 0 12px;
    }

    .headingBlue {
        font-size: 40px;
    }

    .headingLight64 {
        font-size: 50px;
    }

    .headingBold64 {
        font-size: 50px;
    }

    .subHeading20 {
        font-size: 16px;
    }

    .heading36 {
        font-size: 30px;
    }

    .heading24 {
        font-size: 20px;
    }

    .subHeading16 {
        font-size: 14px;
    }

    .getApp {
        padding: 41px 40px;
        margin-top: 82px;
        position: relative;
    }

    .desclimer {
        margin-top: 25px;
    }

    .getAppInner .primaryBtn {
        margin-top: 10px;
        padding: 12px 50px;
    }

    .productSearchBx {
        width: 100%;
        max-width: 230px;
    }

    .BtnIcon {
        margin-left: 7px;
    }

    .shippingSection,
    .deliverySection {
        min-width: calc(100% - 120px);
        margin-left: 16px;
        margin-right: 80px;
    }

    .deliveryOuter {
        margin: 0;
    }

    .shipRightBar,
    .deliverRightBar {
        width: 44px;
        padding: 15px 0px;
    }

    .deliverOrderRight {
        margin-top: 16px;
    }

    .deliverOrderRight .detailScroll {
        height: calc(100% - 368px);
        overflow-y: scroll;
    }

    .customerLink {
        font-size: 17px;
    }

    .assignMapRight {
        margin-top: 20px !important;
    }

    .staffProfileInfo {

        width: 60%;
    }
}

@media (max-width: 1080px) {
    .BtnIcon {
        margin-left: 2px;
    }

    .productSearchBx {
        width: 100%;
        max-width: 200px;
    }

    .customerHeader .tab-item {
        padding: 6px 6px;
    }

    .customerHeader .header-descrip {
        font-size: 13px;
    }
}

@media (max-width: 1020px) {
    .navBtn {
        margin-left: 45px;
        padding: 10px;
    }

    .customInput {
        max-width: 400px;
    }

    .seemInner img:last-child {
        margin-top: 10px;
    }

    .navbar-nav li {
        padding: 0;
    }

    .seemInner {
        flex-wrap: wrap;
    }

    header {
        padding: 14px 29px;
    }

    .navbar-nav .nav-item {
        padding: 0 10px;
    }

}

@media (min-width:991) {
    header .navbar-nav {
        position: absolute;
        background: #fff;
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        align-items: start !important;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        left: 0;
    }

    .navbar-expand-lg .navbar-nav {
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .loginLogo {
        padding: 10px 12px;
        top: 24px;
        left: 15px;
    }

    .customInput {
        max-width: 100%;
    }

    .getAppInner .primaryBtn {
        margin-top: 10px;
    }

    .allRightReserve {
        margin-top: 46px !important;
    }

    .indedTable td {
        width: 100%;
    }

    .ourCoreImages {
        display: none;
    }

    .loginBtnCon {
        display: none;
    }

    .afterRes {
        display: block;
    }

    .navbar-expand-lg .navbar-nav {
        /* flex-direction: row; */
        align-items: left;
    }

    .navbar-toggler-icon i {
        padding: 5px 0;
    }

    header {
        padding: 14px 36px;
    }

    .navbar-expand-lg .navbar-nav {
        margin-top: 0;
    }

    .navbar-nav li {
        padding: 8px 14px;
    }

    header .dropdown-menu {
        min-width: 320px;
    }

    .navbar-nav .nav-item {
        padding: 9px 10px;
    }

    .leftHeader {
        display: flex;
        align-items: center;
        gap: 0px;
    }

    .timeHeading {
        font-size: 13px;
        margin: 0;
    }

    .timeNav::before {
        right: -7px;
    }

    .authHeader {
        padding: 0 80px;
    }

    .authHeaderSub {
        padding: 0 80px;
    }

    .navBtn {
        margin-left: 30px;
        padding: 8px;
    }

    .homeOverview {
        height: 100%;
    }

    .productInnerNavBar {
        justify-content: space-between;
    }

    .productInnerNavLeft {
        justify-content: space-between;
        margin-top: 8px;
    }

    .productSearchBx {
        width: 100%;
        max-width: 310px;
    }

    .commanOuter {
        margin: 0 8px;
        padding: 16px;
    }

    .productScrollBar {
        height: calc(100vh - 255px);
    }

    .deliverCheck {
        justify-content: space-between;
    }

    .deliverOrderRight .selectedProductDetails {
        min-width: 514px;
    }

    .anlyticHeadLeft {
        justify-content: center;
    }

    .anlyticHeadLeft .day-tabs {
        justify-content: space-between;
        width: 100%;
    }

    .anlyticHeadRight {
        justify-content: space-between;
    }

    .analyticOuter {
        height: calc(100vh - 140px);
        overflow-y: scroll;
    }

    .analyticsSection .deliverRightBar {
        top: 104px;
    }

    .customerHeadRight {
        display: block;
        margin-top: 10px;
    }

    .loginOtpSub {
        width: 100%;
        max-width: 360px;
    }
}

@media (max-width: 767px) {
    .leftHeader {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .timeNav::before {
        display: none;
    }

    .driverNavigationCon {
        flex-wrap: wrap;
    }

    .authHeader {
        padding: 0 50px 0 70px;
    }

    .authHeaderSub {
        padding: 0 50px 0 70px;
    }

    .loginLogo {
        padding: 8px 12px;
        top: 24px;
        left: 15px;
    }

    .leftMainHeader {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rightMainHeader {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navBtn {
        margin-left: 0;
        padding: 5px 8px;
        font-size: 12px;
        font-weight: 500;
    }

    .rightheader {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .main-sidebar {
        width: 70px;
        padding: 8px 10px;
    }

    .rightWrapper {
        min-width: calc(100% - 102px);
        margin-left: 90px;
    }

    .profileImg {
        width: 35px;
        height: 35px;
    }

    .sellingOrder .loginMain {
        font-size: 16px;
        margin-top: 10px;
    }

    .bellImage_ {
        width: 20px;
        height: 20px;
    }

    .bellOuter {
        padding: 4px;
    }

    .OrderBtn {
        padding: 6px 8px;
        font-size: 11px;
    }

    .sideMini {
        display: inline-block;
    }

    .innerMargin {
        margin: 0 0 12px 0;
    }

    .productSearchBx {
        width: 100%;
        max-width: 370px;
    }

    .AddtoCart {
        max-width: 475px;
        z-index: 999;
        right: 90px;
    }

    .productInnerNavBar {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .productScrollBar {
        height: calc(100vh - 275px);
    }

    .ProductAddCart .subFooter {
        max-width: 425px;
    }

    /* .ProductAddCart .orderTime {
        width: 100%;
        justify-content: space-between;
    } */

    /* .ProductAddCart .orderCalculate {
        justify-content: space-between;
        width: 100%;
    } */

    /* .ProductAddCart .cartSubInfo {
        flex-wrap: wrap;
        gap: 10px;
    } */

    .deliverOrderRight .selectedProductDetails {
        min-width: 356px;
    }

    .deliverOrderRight .aboutProduct {
        max-width: 16ch;
    }

    .detailScrollDelivery .aboutProduct {
        max-width: 16ch;
    }

    .detailDeliver .aboutProduct {
        max-width: 16ch;
    }

    .shipRightBar,
    .deliverRightBar {
        right: 12px;
    }

    .shippingSection,
    .deliverySection {
        margin-left: 12px;
        margin-right: 65px;
    }

    .customerHeader .tab-item {
        padding: 4px 6px !important;
        font-size: 12px !important;
    }

    .customerHeader .day-tabs {
        gap: 5px;
        margin-right: 6px;
    }

    .productDataInfo {
        min-width: 165px;
    }

    .sidebarRightBooking {
        width: 65px !important;
        padding: 24px 5px !important;
    }
}

@media (max-width: 576px) {
    .getApp {
        padding: 45px 35px;
    }

    .headingLight64 {
        font-size: 50px;
    }

    .allAppCard {
        padding: 34px 15px 0 28px;
    }

    .productImg {
        margin-top: auto;
    }

    .extensiveCatInner {

        flex-wrap: wrap;
    }

    .manufacturerInner {
        flex-wrap: wrap;
    }

    header {
        padding: 14px 0;
    }

    .commonCard {
        margin-top: 44px;
    }

    .getApp {
        margin-top: 40px;
    }

    .commonSection {
        padding: 42px 0;
    }

    .primaryBtn {
        padding: 15px 32px;
    }

    .commonCard {
        padding: 27px 33px 0 33px;
    }

    .verificationSection .verifyBox {
        margin: 0 25px;
        padding: 40px 50px;
        width: 100%;
        max-width: 410px;
    }

    .verifyHeading {
        font-size: 27px;
    }

    .verifySub {
        font-size: 16px;
        margin-top: 10px;
    }

    .pin-box input {
        width: 55px !important;
        height: 55px !important;
    }

    .otpMain .pin-box input {
        font-size: 25px !important;
        font-weight: 400 !important;
    }

    .loginheading {
        font-size: 24px;
        margin-bottom: 0;
    }

    .loginPasswordOtp .verifyBox {
        margin-top: 18px;
        padding: 20px 10px;
    }

    .loginOtpSub {
        width: 100%;
        max-width: 370px;
        margin-top: 0;
    }

    .main-sidebar {
        width: 65px;
        padding: 8px 8px;
    }

    .rightWrapper {
        min-width: calc(100% - 102px);
        margin-left: 80px;
    }

    .sellingOrder {
        flex-wrap: wrap;
    }

    .bellImage_ {
        width: 24px;
        height: 24px;
    }

    .homeRight {
        padding: 8px 12px;
    }

    .commonWidth {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .commanOuter {
        padding: 16px 4px;
    }

    .ProductsearchBar .searchImg {
        width: 20px;
    }

    .sidebarBg {
        padding: 9px;
    }

    .sidebarRight {
        padding: 24px 5px;
    }

    .cartNum {
        font-size: 10px;
        height: 15px;
        width: 15px;
    }

    .productInnerNavLeft {
        flex-wrap: wrap;
    }

    .productScrollBar {
        height: calc(100vh - 342px);
    }

    .AddtoCart {
        max-width: 382px;
        right: 81px;
    }

    .cartTotalsection {
        padding: 15px;
    }

    .loginMain {
        font-size: 18px;
    }

    .deliverOrderRight .aboutProduct {
        max-width: 12ch;
    }

    .appointmenMonth {
        padding: 7px;
    }

    .wrapFlex {
        flex-wrap: wrap;
        gap: 8px;
    }

    .wrapFlex .BlueBtn {
        margin: 0;
    }

    .shipOrderSection .declineButton {
        width: 100%;
    }

    .anlyticHeadRight {
        flex-wrap: wrap;
        gap: 5px;
    }

    .analyticStatus_ {
        justify-content: start;
    }

    .tab-item {
        padding: 4px 13px !important;
        font-size: 13px !important;
    }

    .anlyticHeadLeft .day-tabs {
        margin: 0;
    }

    .analyticsSection .deliverRightBar {
        top: 140px;
    }

    .customerHeadRight .flexDiv {
        flex-wrap: wrap;
        gap: 8px;
    }

    .customerHeader .day-tabs {
        gap: 0px;
        width: 100%;
        justify-content: space-between;
    }

    .extras {
        width: 100%;
    }

    .customerGraphLeft {
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;
    }

    .shippingOrdersViewStyle .flexBox {
        flex-wrap: wrap;
        gap: 8px;
    }

    .orderStatusBox {
        padding: 18px 12px;
        width: 100%;
        max-width: 300px;
    }

    .jobrPickUp {
        margin-left: 5px;
    }

    .ProductAddCart .subFooter {
        max-width: 335px;
    }

    .maximizeImg {
        padding: 10px;
    }

    .deliverRightBar .rightLinkBar img {
        width: 20px;
        height: 20px;
    }

    .totalBtn {
        font-size: 14px;
        font-weight: 500;
        padding: 6px 11px;
    }

    .authHeaderSub {
        padding: 0 20px 0 30px;
    }
}

@media (max-width: 546px) {
    .calendarAnalytic {
        width: 100%;
    }

    .calendarAnalytic .customer-calendar-cnt {
        justify-content: space-between;
    }

    .anlyticSelect {
        width: 100%;
    }
}

@media (max-width: 525px) {
    .ProductAddCart .subFooter {
        max-width: 335px;
    }

    .FilterMultiSelect {
        left: 0;
    }

    .analyticsSection .deliverRightBar {
        padding: 8px 3px;
        width: 45px;
    }

    .analyticsSection {
        margin-right: 78px !important;
    }

    .tab-item {
        padding: 3px 5px !important;
        font-size: 12px;
    }

    .BlueBtn {
        padding: 7px 9px;
    }

    .GreyBtn {
        padding: 7px 9px;
    }
}

@media (max-width: 475px) {
    .main-sidebar {
        width: 60px;
        padding: 8px 6px;
    }

    .rightWrapper {
        min-width: calc(100% - 102px);
        margin-left: 70px;
    }

    .main-sidebar {
        width: 54px;
        padding: 8px 2px;
    }

    .loginOtpSub {
        width: 100%;
        max-width: 360px;
    }

    .verificationSection .verifyBox {
        padding: 30px 40px;
        width: 100%;
        max-width: 370px;
    }

    .verificationSection {
        flex-direction: column;
    }

    .dottedImg {
        position: static;
    }

    .verifyBtn {
        gap: 26px;
    }

    .nextverifyBtn {
        padding: 12px 20px;
    }

    .backverifyBtn {
        padding: 12px 20px;
    }

    .verifySub {
        font-size: 14px;
    }

    .verifyHeading {
        font-size: 25px;
    }

    .productSearchBx {
        max-width: 300px;
    }

    .searchControl::placeholder {
        color: #636e9f;
        font-size: 14px !important;
        font-weight: 400;
    }

    .searchControl {
        font-size: 14px;
    }

    .ProductsearchBar .searchImg {
        top: 10px;
    }

    .GreyBtn {
        padding: 10px 8px;
    }

    .BlueBtn {
        margin: 0;
    }

    .productInnerNavLeft {
        flex-wrap: wrap;
    }

    .productScrollBar {
        height: calc(100vh - 386px);
    }

    .AddtoCart {
        max-width: 330px;
    }

    /* .ProductAddCart .orderCalculate {
        flex-wrap: wrap;
    } */

    .ProductAddCart .subFooter {
        max-width: 280px;
    }

    .cartTotalsection {
        padding: 15px 0px;
    }

    .nextverifyBtn {
        font-size: 16px;
    }

    .FilterMultiSelect {
        max-width: 235px;
    }

    .cancelOrderText {
        font-size: 14px;
    }

    .analyticOuter {
        height: calc(100vh - 180px);
    }

    .analyticsSection {
        margin-right: 66px !important;
        margin-left: 8px !important;
    }

    .cust-header .header-title {
        font-size: 21px;
    }

    .customerSection {
        margin: 10px !important;
    }

    .preparedBtn {
        padding: 6px 0px;
        font-size: 13px;
    }

    .preparedBtn img {
        width: 16px;
        height: 16px;
    }

    .orderStatusBox {
        padding: 12px 8px;
        width: 100%;
        max-width: 260px;
    }

    .orderStatusBox .appointSub {
        font-size: 13px;
    }

    .orderPara {
        font-size: 10px;
        font-weight: 500;
    }

    .jobrPickUp {
        margin-left: 0px;
    }

    .mapleProductHeading {
        font-size: 12px;
    }

    .mapleProductHeading {
        font-size: 12px;
    }

    .mapleProductHeading {
        font-weight: 600;
    }

    .loginPasswordOtp .verifyBox {
        margin-top: 11px;
        padding: 16px 8px;
    }
}

@media (max-width: 425px) {
    .verificationSection .verifyBox {
        padding: 35px 20px;
        width: 100%;
        max-width: 330px;
    }

    .verifyNumber {
        margin: 35px 0;
        position: relative;
    }

    .otpMain {
        margin: 35px 0;
    }

    .mainAuthHead {
        padding: 0 12px 0 60px;
    }

    .loginOtpSub {
        width: 100%;
        max-width: 325px;
    }

    .otherHead .timeHeading {
        font-size: 11px;
    }

    .otherHead .navBtn {
        padding: 6px 8px;
        font-size: 12px;
    }

    .homeOverview .dayTimeText {
        font-size: 10px;
    }

    #trackingModal .modal-body {
        padding: 0 16px 16px 16px !important;
    }

    #trackingModal .modal-content {
        margin: 0 12px;
    }

    .ProductAddCart .subFooter {
        max-width: 233px;
    }

    .AddtoCart {
        max-width: 283px;
    }

    .cartTotalsection .nextverifyBtn {
        padding: 14px 8px;
    }

    .FilterMultiSelect {
        max-width: 196px;
    }

    .deliverPercent::before {
        width: 6px;
        height: 6px;
        top: 7px;
        left: 4px;
    }

    .deliverPercent {
        padding: 3px 6px 3px 12px;
        font-size: 10px;
    }

    .orderDeliverText {
        font-size: 12px;
    }

    .loginMain {
        font-size: 16px;
    }

    .anlyticHeadLeft .day-tabs {
        margin: 0;
        gap: 0;
        padding: 6px 5px;
    }

    .customerHeader .appointMain {
        font-size: 22px;
    }

    .customerHeader .day-tabs {
        padding: 6px;
        margin-right: 0px;
    }

    .saleHeading {
        font-size: 12px;
    }

    .subOrderTime {
        display: flex;
        align-items: flex-start;
        gap: 4px;
    }

    .orderStatusBox {
        max-width: 213px;
    }

}

@media (max-width: 395px) {
    .FilterMultiSelect {
        right: 0 !important;
        left: auto;
    }
}

@media (max-width: 375px) {
    .verificationSection .verifyBox {
        padding: 35px 15px;
    }

    /* .timeNav::before {
        right: -7px;
        display: block;
    } */
}