.settings-main-container {
  margin: 16px;
  border-radius: 20px;
  background-color: #f5f6fc;
  min-height: calc(100vh - 36px);
  flex-direction: row;
  display: flex;
}
.settings-options-container {
  width: 245px;
  background-color: white;
  min-height: 100vh;
  min-width: 223px;
  border-radius: 20px;
  padding: 20px;
}
.settings-component-container {
  width: 100px;
  background-color: white;
  /* min-height: calc(100vh - 36px); */
  min-height: 100vh;
  min-width: 223px;
  margin-left: 15px;
  display: flex;
  flex: 1;
  border-radius: 20px;
  padding: 20px;
}
.settings-bar-titles {
  color: var(--Primary-P-600-Main, #263682);
  font-family: Roobert;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.settings-bar-titles-info {
  color: var(--Primary-P-600-Main, #263682);
  font-family: Roobert;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.settings-sidebar-options-view {
  display: flex;
  padding: 8px 30px 8px 6px;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
}
.settings-sidebar-icons {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.settings-sidebar-button {
  background-color: transparent;
  margin-bottom: 5px;
  display: flex;
  padding: 8px 30px 8px 6px;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Primary-P-50-Main, #f5f6fc);
  width: 100%;
}
.settings-notification-view {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* search modal */

.searchModal {
  width: 100%;
  max-width: 80%;
}

#customerSearchModal {
  width: 100%;
  max-width: 80vw;
}

#customerSearchModal .modal-content {
  border-radius: 30px;
  background: #fff;
  padding: 0 !important;
  box-shadow: -3px 6px 7px 0px rgba(52, 79, 117, 0.03),
    -12px 28px 25px 0px rgba(52, 79, 117, 0.04),
    -31px 74px 80px 0px rgba(52, 79, 117, 0.07);
}

.customerSearchModal {
  margin-left: auto;
  cursor: pointer;
}

#customerSearchModal .modal-header {
  border: none;
  padding: 24px 24px 0 24px !important;
}

#customerSearchModal .modal-body {
  padding: 0 24px 24px 24px !important;
  height: calc(100vh - 200px);
  overflow-y: scroll;
}
#customerSearchModal .modal-body::-webkit-scrollbar {
 display: none;
}
#customerSearchModal .search-header {
  border: #263682;
}