@media (max-width: 1600px) {
  
}

@media (max-width: 1400px) {


}

@media (max-width:1366px) {

}

@media (max-width: 1280px) {
   
}

@media (max-width: 1200px) {
  
}

@media (max-width: 1199px) {
    .SubReader .cancelOrderText {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .settingMain .deviceLeft {
        margin-bottom: 15px;
    }
    .planMethod {
        margin-bottom: 10px;
    }
   
}

@media (max-width: 767px) {
    .taxVerifySection {
        padding: 16px 10px;
    }
    .taxRight {
        padding: 24px 15px 24px 15px;
    }
    .staffProfileData {
        width: 51%;
    }
}

@media (max-width: 575px) {
    .securityRight {
        padding: 24px 10px;
      
    }
    .bottonContent_ {
        padding-left: 0;
    }
    .addDeviceSub {
        flex-wrap: wrap;
    }
    .locationHead {
        flex-wrap: wrap;
    }
    .taxRight {
        padding: 23px 10px 24px 10px;
    }
    .languageRight {
        padding: 20px 10px;
    }
    .appointMain {
        font-size: 18px;
    }
    .taxCountryMain {
        padding: 16px 12px;
    }
    .agreePrimary {
        padding: 24px 10px 0 10px;
    }
    .publishMain {
        margin: 0 10px;
    }
    .planRight {
        padding: 24px 15px;
    }
    .subscribeRight .subscribeText {
        font-size: 18px;
    }
    .subscribeRight .SubscribePara {
        font-size: 14px;

    }
    .planFitRight {
        padding: 24px 10px;
    }
    .monthEnter {
        padding: 16px 11px;
    }
    .billingActiveBtn {
        font-size: 12px;
        padding: 8px 9px;
    }
    .activateMain {
       padding: 16px 9px;
  
    }
    .taxVerifySection {
        flex-wrap: wrap;    
    }
    .taxVerifySection .eReciptBtn {
        margin-top: 12px;
    }
    .countryMainSub::before{
        display: none;
    }
    .taxCountrySub .taxCountryMain {
        flex-wrap: wrap;
        width:100%;
    }
    
    .countryMainSub .blueActiveBtn {
        margin-top: 12px;
    }
    .taxTableMain {
        padding: 16px 5px;
    }
    .staffRight {
        padding: 25px 15px 24px 15px;
    }
    .staffDetailRight {
        padding: 16px 8px;
    }
    .staffTimeSection {
        align-items: initial;
        gap: 5px;
    }
    .staffSubTime {
        padding: 12px 4px;
    }
    .staffProfileData {
        width: 100%;
        margin-top: 18px;
    }
}

@media (max-width: 480px) {
    .notifySub {
        padding: 14px 0;
    }
    .securityRight .headingTextStyle {
        font-size: 22px;
    }
    .securityRight {
        flex-wrap: wrap;
        height: auto;
    }
    .getQRCode {
        margin-right: 4px;
    }
    .enableSecurity .descriptionTextStylesmall {
        font-size: 16px;
        line-height: 23px;
    }
    .leftqrCode_ .descriptionTextStylesmall {
        font-size: 13px;
        line-height: 18px;
        margin-top: 7px;
    }
    .leftqrCode_ .headingTextStyle {
        font-size: 14px;    
    }
    .leftqrCode_ {
     
        padding-right: 20px;
    }
    .mainqrbox_{
        padding: 24px 10px 24px 10px!important;
    }
    .deviceRight {
        padding: 26px 10px 24px 10px;
    }
    .configureBox {
        padding: 17px 10px;
    }
    .deviceBarcodeSub {
        padding: 16px 4px;
   
    }
    #barcodeScanModal .modal-content  {
        padding: 40px 16px !important;
     
    }
    .bussinessRight {
        padding: 24px 10px 24px 10px;
    }
    .bussinessSub {
        padding: 16px 10px;
    }
    .appointMain {
        font-size: 21px;
    }
    .georgiaBox {
        margin-left: 0;
    }
    .shippingRight {
        padding: 10px 10px 10px 10px;
    }
    .localPickupBx {
        padding: 16px 13px;
    }
    .planAppSub {
        gap: 11px;
        flex-wrap: wrap;
    }
    .planApps {
        padding: 15px 8px;
      
    }
    .subscribeBox .subscribeBtn {
        padding: 12px 17px 14px 17px;
        font-size: 12px;
    }
    .subscribeBox {
        gap: 28px;
    }
  
    .planFlex .createTaxBtn {
        font-size: 12px;
  
    }
    .staffTimeSection {
        flex-wrap: wrap;
    }
    .staffSubTime {
        padding: 12px 10px;
    }
   
}

@media (max-width: 375px) {

}