.headingTextStyle {
  color: var(--Primary-P-600-Main, #263682);

  font-family: Roobert;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}
.textInformationStyle {
  color: var(--Neutrals-N-600, #7e8ac1);

  font-family: Roobert;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.shadowBox {
  border-radius: 20px;
  /* border: 1px solid var(--Neutrals-N-100, #d7deff); */
  padding: 20px;
  margin-top: 10px;
  flex-direction: row;
  box-shadow: "20 100px 16px 0 rgba(0, 0, 0, 0.15)";
  background-color: #e4e6f2;
}
.boxTopTitleTextStyle {
  color: var(--Primary-P-600-Main, #263682);

  font-family: Roobert;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.boxbottomTextStyle {
  margin-top: 2px;
  color: var(--Neutrals-N-600, #7e8ac1);

  font-family: Roobert;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modalTitleStyle {
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--Primary-P-600-Main, #263682);

  font-family: Roobert;
  font-size: 24px;

  font-weight: 500;
  line-height: normal;
}
.descriptionTextStyle {
  color: var(--Neutrals-N-800, #636e9f);
  margin-top: 20px;
  font-family: Roobert;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
.box {
  display: flex;
  width: 420px;
  padding: 16px 18px 20px 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 100px;
  border-radius: 16px;
  border: 1px solid var(--Neutrals-N-100, #d7deff);
  margin-top: 40px;
}
.rowAligned {
  display: flex;
  align-items: center;
}
.rowJustified {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rowStartJustified {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.rowStart {
  display: flex;
  align-items: flex-start;
}
.iconsStyle {
  height: 20px;
  width: 20px;
}
