.titleName {
  padding: 15px;
  border-width: 0px;
  background-color: #ffffff;
  text-align: start;
  flex-direction: row;
}
.verticalContainer {
  flex-direction: column;
}
.mainContainer {
  flex-direction: row;
  display: flex;

  margin-left: 50;
  flex: 1;
}
.sidebarTitleView {
  align-items: flex-start;
  text-align: start;
}
