.commanOuter {
    background: var(--surfaces-s-top, #FFF);
    box-shadow: -1.90817px 3.78304px 25.48148px 0px rgba(50, 80, 127, 0.02), -4.95391px 9.82135px 80px 0px rgba(50, 80, 127, 0.04);
    height: calc(100vh - 129px);
    overflow: hidden;
    border-radius: 20px;
    margin: 0 16px;
    padding: 20px;
    width: 100%;
}

.commanOuter::-webkit-scrollbar {
    display: none;
}

.commanscrollBar {
    height: 100%;
    overflow: auto;
    padding: 0 10px;
}

.commanscrollBar::-webkit-scrollbar-track {
    margin: 0 10px;
}

/* Start Sidebar Css*/
.main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 86px;
    padding: 8px 10px;
    background: #FFFFFF;
    border-radius: 30px;
    margin: 20px 16px;
    transition: .5s;
    z-index: 999;
}

.main-sidebar.hide {
    border-radius: 60px;
}

.main-sidebar.full {
    width: 300px;
}

.sideToggle {
    width: 15px;
}

.main-sidebar.full .sideToggle {
    transform: rotate(180deg);
}

.rightWrapper {
    min-width: calc(100% - 102px);
    margin-left: 102px;
    transition: .5s;
}

.list-group-item {
    background-color: transparent !important;
    border: none !important;
    padding: 0.5rem 0 !important;
}

.ToggleIcon {
    background: #fff;
    box-shadow: 10px 10px 20px #00000020;
    position: absolute;
    right: -20px;
    top: 40px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.main-sidebar.full .ToggleIcon {
    right: 20px;
}

.sidebarTxt {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
    color: #8D99D2 !important;
}

.main-sidebar.hide .sidebarTxt {
    display: none;
}

.main-sidebar.full .sidebarTxt {
    display: block;
}

.sidebarLinks {
    color: #8D99D2 !important;
    display: flex;
    align-items: center;
    padding: 10px 21px;

}

.main-sidebar.hide .Logo {
    display: none;
}

.main-sidebar.full .Logo {
    display: block;
    margin-left: 20px;
}

.main-sidebar.hide .SideLogo {
    display: block;
}

.main-sidebar.full .SideLogo {
    display: none;
}

.showImg {
    width: 24px;
    margin-right: 18px;
}

.userDetails {
    display: flex;
    align-items: center;
}

.sidebarLinks.active {
    background: #F5F6FC;
    border-radius: 20px;
    padding: 10px 21px;
}

.sidebarLinks.active .sidebarTxt {
    color: #263682 !important;
}

.main-sidebar.hide .userName,
.main-sidebar.hide .userPosition {
    display: none;
}

.main-sidebar.full .userName,
.main-sidebar.full .userPosition {
    display: block;
}

.userName {
    font-size: 18px;
    font-weight: 500;
    color: #263682;
}

.userPosition {
    color: #636E9F;
    font-size: 14px;
    font-weight: 500;
}

.sidebarProfile {
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px 22px;
    border-radius: 50%;
    border: 2px solid #e4e6f1;
    padding: 5px;
}

.main-sidebar.hide .sidebarProfile {
    margin-left: 10px;
}

.sidbarfixedMenus {
    margin-top: auto;
}

.main-sidebar.full .sidbarfixedMenus .sidebarLinks .showImg {
    margin-right: 18px;
}

.sidbarfixedMenus .sidebarLinks .showImg {
    margin: 0;
}

.logOut {
    border-radius: 30px;
    background: #F5F6FC;
    border: none;
    padding: 10px 14px;
    position: fixed;
    bottom: 40px;
    display: flex;
    align-items: center;
}

.main-sidebar.hide .logOut {
    left: 33px;
}

/* End Sidebar Css*/
/* Start Filter Multiselect */
.filterDropSelect{
    position: relative;
}
.FilterMultiSelect {
    position: absolute;
    right: 0;
    z-index: 99;
    width: 300px;
    max-width: 300px;
    border-radius: 20px;
    padding: 10px 18px;
    border: 1px solid var(--primary-p-50-main, #F5F6FC);
    background: var(--surfaces-s-top, #FFF);
    box-shadow:-31.03472px 73.73497px 80px 0px rgba(52, 79, 117, 0.07);
}
.FilterMultiSelect .accordion-item{
    border: none !important;
}
.FilterMultiSelect .accordion-button:focus {
    z-index: 3;
    border-color:transparent;
    outline: 0;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: #263682;
    background-color: transparent;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-button::after {
    background-image: url("../../public/images/Arrow_Down.svg");

}
.accordion-button:not(.collapsed)::after {
    background-image: url("../../public/images/Arrow_Down.svg");
    transform: rotate(-180deg);
}
/* Start Filter Multiselect */
/* Start Product  */
.productNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 22px 15px 11px;

}

.ProductAbout {
    color: #263682;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
}

.productCount {
    color: #9BA8E3;
    font-size: 12px;
    font-weight: 400;
}

.ProductsearchBar {
    position: relative;
}

.ProductsearchBar .searchControl {
    color: #636E9F;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 8px 8px 52px;
    border-radius: 50px;
    border: 0px solid #E4E6F2;
    background: #F5F6FC !important;
}

.ProductsearchBar .searchImg {
    top: 8px;
}

.BtnIcon {
    width: 16px;
    margin-left: 16px;
}

.BlueBtn {
    padding: 8px 12px;
    border-radius: 30px;
    background: #263682;
    border: 1px solid #263682;
    color: #F5F6FC;
    font-size: 14px;
    font-weight: 400;
}

.GreyBtn {
    padding: 8px 12px;
    border-radius: 30px;
    border: 0px solid #263682;
    background: #F5F6FC;
    font-size: 14px;
    font-weight: 400;
    color: #263682;
}

.productsCard {
    border-radius: 12px;
    border: 1px solid #F5F6FC;
    background-color: #F5F6FC;
    margin-bottom: 16px;
}

.ProductIcon {
    width: 100%;
    height: 150px;
    border-radius: var(--main-system-12-px, 12px);
    mix-blend-mode: multiply;
    max-width: 250px;
    max-height: 150px;
    object-fit: cover;
}

.productDetails {
    padding: 12px;
}

.productName {
    color: #263682;
    font-size: 12px;
    font-weight: 500;
}

.productGender {
    color: #7E8AC1;
    font-size: 12px;
    font-weight: 500;
}

.productPrice {
    color: #263682;
    font-size: 12px;
    font-weight: 600;
}

.flexBox {
    display: flex;
    align-items: center;
}

.sidebarRight {
    width: 60px;
    border-radius: 50px;
    margin: 0 10px;
    background: var(--surfaces-s-top, #FFF);
    box-shadow: -1.90817px 3.78304px 25.48148px 0px rgba(50, 80, 127, 0.02), -4.95391px 9.82135px 80px 0px rgba(50, 80, 127, 0.04);
    height: calc(100vh - 129px);
}

.rightSidebarIcon {
    width: 50px;
}

.rightSidebarItems {
    text-align: center;
}

.rightSidebarItems:last-child {
    position: fixed;
    bottom: 32px;
    right: 30px;
}

.rightSidebarItems.active img {
    background: #F5F6FC;
    border-radius: 12px;
}

.productImageBox {
    position: relative;
}

.productImageBox .overlay {
    display: none;
}

.productsCard:hover .overlay,
.productsCard.active .overlay {
    background-color: #00000060;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 12px;
    cursor: pointer;
}

.productsCard:hover,
.productsCard.active {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: -2.52875px 6.00803px 6.51852px 0px rgba(52, 79, 117, 0.03), -11.95411px 28.40162px 25.48148px 0px rgba(52, 79, 117, 0.04), -31.03472px 73.73497px 80px 0px rgba(52, 79, 117, 0.07), 4px -8px 30px 0px rgba(52, 79, 117, 0.08);
}
/* End Product  */
/* Start Product Service */
.Tomorrowappointment {
    padding: 3px 6px 4px 6px;
    margin:5px 12px;
    border-radius: 20px;
    background: #EFFBFF;
    display: inline-block;
}
.productserviceName {
    color: #263682;
    font-size: 12px;
    font-weight: 500;
    padding: 7px 0;
}
.productsCard svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.Ontime {
    font-size: 12px;
    font-weight: 500;
}

.Tomorrowappointment path, .Tomorrowappointment .Ontime {
    fill: #47B0D6;
    color: #47B0D6;

}

.Timezone {
    margin: 5px 12px 0;
}

.AppointmentEstTime {
    color: #4659B5;
    font-size: 12px;
    font-weight: 500;
}

.AppointmenttimeIcon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.Appointmentusers {
    margin: 10px 12px !important;
}
.Appointmentusers .CardIcons {
    width: 24px;
    height: 24px;
    object-fit: fill;
    border-radius: 50%;
    border: 1.5px solid  #FFF;
    background: lightgray 50%;
    margin-right: -5px;
}
.Todayappointment {
    padding: 3px 6px 4px 6px;
    margin:5px 12px;
    border-radius: 20px;
    background: #D1FADF;
    display: inline-block;
}
.Todayappointment path, .Todayappointment .Ontime {
    fill: #039855;
    color: #039855;
}
.afterSomeappointment {
    padding: 3px 6px 4px 6px;
    margin:5px 12px;
    border-radius: 20px;
    background: #FFF7D7;
    display: inline-block;
}
.afterSomeappointment path, .afterSomeappointment .Ontime {
    fill: #DC6803;
    color: #DC6803;
}
.DayTomorrowappointment {
    padding: 3px 6px 4px 6px;
    margin:5px 12px;
    border-radius: 20px;
    background: #F5EDFF;
    display: inline-block;
}
.DayTomorrowappointment path, .DayTomorrowappointment .Ontime {
    fill: #7233C2;
    color: #7233C2;
}
/* End Product Service */